<h2>Introduction to Enrollment</h2>
 
<h3>Step 1: Informed Consent</h3>

<p>Informed consent is a process where individuals gain an understanding of relevant information in order to make a thoughtful decision about whether to voluntarily enroll in a research project.  For the PGP, the informed consent process begins with three activities:</p>
			
<div style="padding-left: 20px;">
<p><strong>1) Education:</strong> Prospective participants familiarize themselves with all aspects of the PGP, including eligibility, benefits, risks, 
and study protocols.  Individuals make a determination of whether any personal factors exist, such as strict privacy preferences, that may 
influence their decision to participate.</p>

<p><strong>2) Assessment:</strong> An online entrance exam will assess a prospective volunteer's comprehension of concepts relevant to providing informed 
consent to participate in the PGP.  This exam will include concepts such as potential risks of participating, project protocols, 
and basic genetics. A '<a href=http://arep.med.harvard.edu/PGP/Consent08/PG_MiniConsent_Exam22January2008.pdf>mini-consent</a>' 
will be affirmed by the volunteer online prior to the exam.</p>

<p><strong>3) Consent:</strong> After the successful completion of the exam, invididuals will submit online their <a href=http://arep.med.harvard.edu/PGP/Consent08/PG_Consent_15Apr2008.pdf>consent</a> to participate in this research study.</p>
</div>

<br />
<hr />
<br />

<h2>Resources</h2>
<p>The following resources will help you make a thoughtful decision about enrolling in the PGP:
</p>

<p>
  <ul>
    <li><a href=http://arep.med.harvard.edu/PGP/Consent08/PG_Consent_15Apr2008.pdf>Consent Form</a>      
    </li>
    <li>Educational resources intended to help individuals study for the entrance exam <a href="http://www.pgpstudy.org">www.pgpstudy.org</a>      
    </li>
    <li>Participant <a href="http://www.personalgenomes.org/public/">profile pages</a>      
    </li>
  </ul>
</p>

<br />
<hr />
<br />

<p>
<strong><%= link_to 'Begin the enrollment process', signup_url %></strong>.
</p>
