<h2>Introduction to Enrollment</h2>

<h3>Background Materials</h3>
<p>Prospective participants should familiarize themselves with all aspects of the Personal Genome Project (PGP), including eligibility criteria, benefits, risks, and study protocols as outlined in the consent forms and throughout this website. The following resources will help you make a thoughtful decision about whether to volunteer to participate in the PGP:</p>

<div style="padding-left: 20px;">
  <p><strong>&bull; Consent Forms:</strong> During the enrollment process, prospective participants in the PGP will be asked to read, review, and electronically sign online two different consent forms (1) the &ldquo;mini-consent&rdquo; for eligibility screening procedures and (2) the full consent form for enrollment and ongoing participation. <a href="http://www.personalgenomes.org/consent">Read now</a>.</p>
  <p><strong>&bull; PGP Study Guide:</strong>  An educational study guide has been developed for prospective PGP volunteers. These materials are designed to help participants learn concepts relevant to passing the entrance exam. <a href="http://www.pgpstudy.org">Go to study guide website</a>.</p>
  <p><strong>&bull; PGP Public Profiles:</strong> The public profile pages for enrolled participants in the PGP can be <a href="http://www.personalgenomes.org/public/">reviewed online</a>.</p>
</div>

<h3>Eligibility Screening</h3>
<p>To be considered for enrollment in the PGP, a short eligibility screening process must be completed online. This process has the following steps:</p> 

<p>
  <ol>
    <li><strong>Consent for eligibility screening</strong>: You will be asked to read, review, and electronically sign a &lsquo;mini-consent&rsquo; agreement and create an online account.</li>
    <li><strong>Eligibility questionnaire</strong>: Information will be collected from you via a short questionnaire (approximately 15 questions).</li>
    <li><strong>Entrance Exam</strong>: An entrance exam will assess your comprehension of concepts relevant to providing informed consent to participate in the PGP. Concepts include basic genetics, human subjects research literacy, and project protocols.</li>
    <li><strong>Review of consent form</strong>: You will be asked to affirm that you have reviewed the consent form.</li>
    <li><strong>Submission</strong>: After the satisfactory completion of the eligibility screening procedures, you will be given the option to submit the results to the PGP for review. You will subsequently be notified by the PGP that you are either (1) eligible to continue enrollment, (2) waitlisted, or (3) rejected.
    You may exit the eligibility screening process and/or withdraw your name from consideration at any time.  If you choose not to submit the results of your Eligibility Screening no determination will be made by PGP about your eligibility status and your participation in this Eligibility Screening will be terminated.  You may choose to participate in this Eligibility Screening again at a later date.</li>
  </ol>
</p>

<p>
<%= link_to image_tag('start.png'), signup_url %>
</p>
