<p>This page is still a work in progress...</p>

<h2>Eligibility Requirements</h2>
<p>In order to be considered for enrollment in the PGP, you must satisfy the following minimum eligibility requirements:</p>

<p>
  <ul>
    <li>21 years of age or older
    </li>
    <li>Resident of the United States      
    </li>
    <li>Pass the entrance exam
    </li>
  </ul>
</p>

<h2>Resources for Applicants</h2>
<p>The following resources will help you make a thoughtful decision about enrolling in the PGP:
</p>

<p>
  <ul>
    <li>Description of the enrollment process (link)
    </li>
    <li>Existing participant profile pages (link)      
    </li>
    <li>Informed consent documents (link)      
    </li>
    <li>Educational resources (www.pgpstudy.org)      
    </li>
  </ul>
</p>


<h2>Apply Now for Enrollment</h2>
<p>
<strong><%= link_to 'Begin the enrollment process', signup_url %></strong>.
</p>
