<h2>Administer the Enrollment Process</h2>

<ul>
  <li><%= link_to 'Users',   :controller => 'admin/users' %></li>
  <li><%= link_to 'Exams',   :controller => 'admin/content_areas' %></li>
  <li><%= link_to 'Results', :controller => 'admin/exam_responses' %></li>
</ul>
