<ul>
<% @admin_resources.each do |r| -%>
  <li>
    <%= link_to r.humanize, :controller => r, :action => 'index' %>
    (<%= Kernel.const_get(r.singularize.classify).count rescue 'n/a' %>)
  </li>
<% end -%>
</ul>
