<h2>Administer the Enrollment Process</h2>

<ul>
  <li><%= link_to 'Users',   admin_users_url %> - includes per-user entrance exam response reporting.</li>
  <li><%= link_to 'Exams',   admin_content_areas_url %></li>
  <li><%= link_to 'Reports', admin_reports_url %></li>
</ul>
