<div class="sidebar">
  <div class="bubble">
    <h2>Need Help?</h2>
    <div class="text">
      <p>Study guides are available to help you learn genetic concepts and pass the entrance exam.</p>
      <p><a href="http://www.PGPstudy.org">www.PGPstudy.org</a></p>
      <p>Special thanks to the Alan &amp; Priscilla Oppenheimer Foundation for these materials.</p>
    </div>
  </div>
</div>
