<h2>Consent to Participate</h2>

<p>This page is a placeholder for now...</p>

<h2>Consent Form (approved April 15, 2008)</h2>

<a name="0.1_table01"></a>
<div align="left">
<table width="624" border="2" cellspacing="0">
<tr valign="top"><td><font size="5" face="Times New Roman">Protocol 
  Title:<b> Personal Genome Project</b></font></td></tr>

<tr valign="top"><td><font size="3" face="Times New Roman">Principal 
  Investigator: <b>George M. Church, Ph.D. </b></font></td></tr>
<tr valign="top"><td><font size="3" face="Times New Roman">Site-Responsible 
  Investigator&#39;s Institution:<b> Harvard Medical School </b></font></td></tr>
<tr valign="top"><td><font size="3" face="Times New Roman">Co-Investigators 
  &amp; Study Staff: <b> Joseph Thakuria, MD</b></font></td></tr>
<tr valign="top"><td><font size="3" face="Times New Roman">Description 
  of Subject Population:<b> </b></font>

  <p><font size="3" face="Times New Roman"><b>Volunteers knowledgeable 
  of the benefits and risks of personal genome sequencing and relevant 
  concepts from genetics and human subjects research.  
  We are seeking a diverse range of volunteers, male and female, from 
  as varied a set of genetic and environmental backgrounds as possible.</b></font></p></td></tr>
</table>
</div>
 <br>
<p><font size="3" face="Times New Roman"><b>What is Informed Consent?</b></font></p>
<p><font size="3" face="Times New Roman">Informed consent means you 
understand the procedures, risks, possible benefits, and alternatives 
before you voluntarily agree to participate in a research project. Before 
you enroll, you need to understand if or how this project may affect 
you and your family.  This form, along with other study documents, 
will help you make an informed decision about your participation in 
this study. </font> <br></p>
<p><font size="3" face="Times New Roman"><b>Why have you been asked 
to take part in this research study?</b></font></p>
<p align="justify"><font size="3" face="Times New Roman">You have been 
invited to participate because you are an individual 21 years of age 
or older and your performance on the entrance exam indicates that you 
are able to give informed consent for this public and open-ended study.  
This study is being conducted by researchers at Harvard Medical School 
and Brigham and WomenÕs Hospital. </font> <br></p>

<p><font size="3" face="Times New Roman"><b><u>PURPOSE</u></b></font></p>
<p align="justify"><font size="3" face="Times New Roman">The main scientific 
goal of this study is to explore ways to connect human genetic information 
and human phenotype information, i.e. human DNA sequence, medical information, 
and physical traits, so that such data can be used for hypothesis-generating 
research and computational efforts worldwide.   Additional 
goals include the determination of risks of such studies, developing 
a fully consented dataset to aid in the development of computational 
tools and user interfaces for scientists, clinicians and individuals.  
Other goals include the education of participants and the general public 
about the risks and potential alternative pathways that genetics can 
take.   We also seek to develop a model system to allow a 
meeting place for experts on genetic counseling, insurance, employment, 
education, and research. We hope that our proposed specific datasets 
will help extend such discussions to planned case studies. We also hope 
to discover what individuals, clinicians, and researchers might want, 
not want, and why. </font> <br></p>
<p align="justify"><font size="3" face="Times New Roman">This project 
will collect from each volunteer participant tissue samples and information 
submitted via online questionnaires.  If you are enrolled in the 
Personal Genome Project (PGP), information collected via questionnaires 
will be made available, along with your genome sequence, on a publicly 
accessible website and database.  This information, including your 
genome sequence data, will be accessible to you as well.</font></p>
<p align="justify"><font size="3" face="Times New Roman"> </font></p>
<p align="justify"><font size="3" face="Times New Roman">Participants 
will not be receiving clinical data from the PGP and the DNA sequences 
you receive may not have any useful medical purposes for you.  
All information is for research purposes only and should not be used 
for medical purposes.  Examples of genomic data similar to what 
you will receive as a participant can be found on the project website 
(</font><a href="http://www.personalgenomes.org" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.personalgenomes.org</u></font></a><font size="3" face="Times New Roman">).</font> <br></p>
<p align="justify"><font size="3" face="Times New Roman">We expect to 
enroll 100,000 participants in this project, although the pace at which 
we expand the project to large numbers of participants is unknown.</font> <br>

 <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>PROCEDURES</u></b></font></p>
<p align="justify"><font size="3" face="Times New Roman"><b>PRE-ENROLLMENT 
PHENOTYPE COLLECTION</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Before the Personal 
  Genome Project (PGP) will consider you for enrollment, you are required 
  to submit responses to online phenotype questionnaires, which include 
  the following personal information: name, date of birth, current medications, 
  allergies, vaccines, medical history, race/ethnicity/ancestry, environmental 
  exposures, lifestyle, dietary habits, and measurements such as height, 
  weight, blood pressure, full facial photograph, and resting heart rate.  
  The full list of required personal information can be found on the project 
  website (<a href="http://www.personalgenomes.org" target="_blank">www.personalgenomes.org</a>).  Submitting this information 
  will take about 1-3 hours.  If you are enrolled in the project, 
  you will be able to choose to publish this information on a publicly 
  accessible website and database.</font></li>
  <li><font size="3" face="Times New Roman">An estimated 1-3 
  hours of personal time may be lost if you are not selected for enrollment 
  after completion of the phenotype questionnaire.</font></li>
  <li><font size="3" face="Times New Roman">Additional personal 
  information will be requested by the PGP as the study progresses, but 
  participation in these activities is optional.</font></li>

</ul>
 <br> <br> <br>
<p align="justify"><font size="3" face="Times New Roman"><b>PRE-ENROLLMENT 
FEE DECLARATION</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">All participants 
  invited to enroll must pay a fee before enrollment is complete.  
  The fee is $1000. </font></li>
  <li><font size="3" face="Times New Roman">If you are unable 
  to pay the full fee, you may request financial assistance based on your 
  self-reported ability to pay.  Financial assistance is not guaranteed. 
  Assistance depends on the availability of funds and the number of individuals 
  seeking financial assistance.  The size of the financial assistance 
  waitlist will be disclosed if you are invited to enroll.</font></li>
  <li><font size="3" face="Times New Roman">After the completion 
  of your phenotype questionnaire, you will be asked to specify the fee 
  amount you intend to pay if you enroll in this project.  You will 
  be asked to declare whether you intend to pay the full enrollment fee, 
  more than the full enrollment fee or only a portion of the full enrollment 
  fee.  Fees are payable after the visit to a medical center, described 
  below.</font></li>

  <li><font size="3" face="Times New Roman">Enrollment fees 
  are intended to subsidize the costs of genome sequencing and related 
  research activities. Examples of genomic data similar to what you will 
  receive as a participant can be found on the project website (<a href="http://www.personalgenomes.org" target="_blank">www.personalgenomes.org</a>).</font></li>
</ul>
 <br> <br><p> <br></p>
<p><font size="3" face="Times New Roman"><b></b></font> <br></p>
<p><font size="3" face="Times New Roman"><b>PRE-ENROLLMENT INVITATION </b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">After the completion 
  of the phenotype questionnaires and fee declaration, you will be notified 
  that you are either: (1) selected for the next stage of the enrollment 
  process, (2) waitlisted, or (3) rejected.</font></li>

  <li><font size="3" face="Times New Roman">If you are rejected 
  for enrollment, the PGP will permanently delete your phenotype questionnaire 
  data within 6 months.  You may also request that your phenotype 
  questionnaire data be deleted immediately (prior to 6 months). </font></li>
  <li><font size="3" face="Times New Roman">If you are selected 
  for the next stage of the enrollment process, you will be asked to schedule 
  an appointment to visit a designated medical center.  Please review 
  the locations of participating medical centers because they may be long 
  distances from your home.  A list of participating medical centers 
  can be found on the PGP website, along with instructions for scheduling 
  an appointment either by phone or web (</font><a href="http://www.personalgenomes.org" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.personalgenomes.org</u></font></a><font size="3" face="Times New Roman">).</font></li>
</ul>
 <br> <br> <br> <br>
<p><font size="3" face="Times New Roman"><b>PRE-ENROLLMENT INTERVIEW 
AT A MEDICAL CENTER </b></font></p>
<ul type="DISC">

  <li><font size="3" face="Times New Roman">The day of your 
  visit to a medical center, you will meet with one or more PGP staff 
  members who will verify your identity and consent, confirm your familiarity 
  with study protocols, review and confirm your phenotype questionnaire 
  responses.  The interview will take approximately 1 hour.  </font></li>
  <li><font size="3" face="Times New Roman">After the completion 
  of the interview, you will be notified that you are either: (1) selected 
  for the next stage of the enrollment process, (2) waitlisted, or (3) 
  rejected.</font></li>
  <li><font size="3" face="Times New Roman">If you are rejected 
  for enrollment, the PGP will permanently delete your phenotype questionnaire 
  data within 6 months.  You may also request that your phenotype 
  questionnaire data be deleted immediately (prior to 6 months). </font></li>
  <li><font size="3" face="Times New Roman">Costs that you might 
  incur the day you visit a medical center include, but are not limited 
  to transportation costs to and from the medical center (tolls, gas, 
  etc) and loss of personal time. </font></li>
  <li><font size="3" face="Times New Roman">If you are selected 
  for the next stage of the enrollment process, PGP staff members at the 
  medical center will collect tissue specimens.</font></li>
</ul>
 <br> <br><p> <br></p>

<p align="justify"><font size="3" face="Times New Roman"><b></b></font> <br>
</p>
<p align="justify"><font size="3" face="Times New Roman"><b>TISSUE SPECIMEN 
COLLECTION AT A MEDICAL CENTER</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Following the pre-enrollment 
  interview and if you are selected to enroll in the PGP, blood sample 
  collection and/or skin biopsy procedures will be performed at the medical 
  center by trained professionals appointed by the PGP.  The type 
  of tissue specimens collected will be determined by the PGP.  All 
  participants enrolled in the project must submit either a blood sample 
  or a skin biopsy specimen.</font></li>
  <li><font size="3" face="Times New Roman">Tissue samples submitted 
  to the PGP will be used to study biological characteristics, DNA, RNA 
  (gene expression), physical traits, and/or the presence and characteristics 
  of micro-organisms in the specimen sample. </font></li>
  <li><font size="3" face="Times New Roman">Blood samples require 
  a minimum of 5ml of blood.  Blood samples submitted to the PGP 
  will be used to create a living tissue sample known as a cell line.  
  A cell line will provide a renewable supply of your cells and DNA.  
  Cell lines will be deposited in and distributed by the Coriell NIGMS 
  repository and other biorepositories.  Cell lines will allow researchers 
  worldwide to confirm and extend the scientific observations made by 
  the PGP.</font></li>
  <li><font size="3" face="Times New Roman">A full-thickness 
  skin punch biopsy (1/8 inch block, 3 mm diameter) is collected from 
  the underside of the upper arm or hip requiring local anesthesia.  
  The skin cells (i.e. fibroblasts) will be used to create a living tissue 
  sample known as a cell line.  A cell line will provide a renewable 
  supply of your cells and DNA.  Cell lines will be deposited in 
  and distributed by the Coriell NIGMS repository and other biorepositories.  
  Cell lines will allow researchers worldwide to confirm and extend the 
  scientific observations made by the PGP.  Cell lines created from 
  the skin cells will be studied for their growth and gene expression 
  characteristics, and transformed into adult stem-cell lines for further 
  analyses. Adult stem cells are cells with the ability to divide for 
  indefinite periods and to give rise to specialized cells. </font></li>

  <li><font size="3" face="Times New Roman">The PGP cannot make 
  guarantees about accuracy of genotyping, success of cell line or adult 
  stem cell creation, or turn around time for these activities.  
  Information derived from these activities is for research purposes only 
  and should not be used for medical purposes.</font></li>
</ul>
 <br> <br> <br> <br>
<p align="justify"><font size="3" face="Times New Roman"><b>PAYMENT 
OF ENROLLMENT FEES</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">After tissue specimens 
  are collected at the medical center, your enrollment in the PGP will 
  be complete after you pay your enrollment fees online. </font></li>
  <li><font size="3" face="Times New Roman">The enrollment fees 
  are payable online via secure credit card transaction.  </font></li>

  <li><font size="3" face="Times New Roman">Enrollment is not 
  complete until payment is received. Access to tools will be restricted 
  and DNA analysis of submitted tissue specimens will not occur until 
  payment is received.</font></li>
  <li><font size="3" face="Times New Roman">After payment is 
  received, DNA analysis will occur.</font></li>
</ul>
 <br> <br> <br> <br> <br>
<p><font size="3" face="Times New Roman"><b>DISCLOSURE OF DNA SEQUENCE 
DATA</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Upon completion 
  of DNA analysis, your DNA sequence data will be made available to you 
  via a password protected area on the PGP website. </font></li>

  <li><font size="3" face="Times New Roman">The PGP cannot guarantee 
  turn around time for sequencing activities.</font></li>
</ul>
 <br> <br> <br> <br>
<p><font size="3" face="Times New Roman"><b>ADDITIONAL SPECIMEN COLLECTION</b> </font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Upon payment of 
  enrollment fees, participants will be asked to supply a mailing address 
  where additional enrollment materials will be sent.  These materials 
  include tissue specimen collection kits that can be self-administered.  </font></li>
  <li><font size="3" face="Times New Roman">Enrolled participants 
  must submit either a saliva sample or a buccal sample (cheek swab), 
  as determined by the PGP. Samples must be collected and returned as 
  instructed by the PGP.  The PGP will provide sample collection 
  materials, including instructions and mailing packages. Instructions 
  can also be found on the PGP website (</font><a href="http://www.personalgenomes.org" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.personalgenomes.org</u></font></a><font size="3" face="Times New Roman">). </font></li>

  <li><font size="3" face="Times New Roman">Tissue samples submitted 
  to the PGP will be used to study biological characteristics, DNA, RNA 
  (gene expression), physical traits, the presence and characteristics 
  of micro-organisms in the specimen sample. </font></li>
  <li><font size="3" face="Times New Roman">Additional tissue 
  samples, such as sterile skin swabs and fecal samples, may be requested 
  by the PGP and submitted by participants on a voluntary basis.</font></li>
</ul>
 <br> <br> <br> <br>
<p><font size="3" face="Times New Roman"><b><u>RECONTACT </u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Other than the Safety 
  Questionnaires below, you are under no obligation to receive study notices 
  or participate after providing the initial tissue samples and exchange 
  of the information outlined above unless you choose YES below.  
  In which case, additional tissue specimens and questionnaires can be 
  voluntarily submitted at later dates as requested by the PGP.  
  You can change your choice on this option at any time.</font></li>

</ul>
 <br>
<ul><p align="justify"><font size="3" face="Times New Roman">              
Willing to be re-contacted     YES / NO </font> <br>
 <br></p></ul>
<p> <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u></u></b></font> <br>
</p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>SAFETY 
QUESTIONNAIRES</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Every three months 
  we will send out an email request to each participant containing the 
  following questions: </font></li>

</ul>
 <br>
<ul>
<ol type="1">
  <li><font size="3" face="Times New Roman">What negative and/or 
  positive events have happened to you and/or your relatives related to 
  your participation in the PGP?</font></li>
  <li><font size="3" face="Times New Roman">What are the reactions 
  or responses of relatives and acquaintances to the posting of your genetic 
  and medical data?</font></li>
  <li><font size="3" face="Times New Roman">Please report incidents 
  of being contacted regarding your data being posted online.  </font></li>
  <li><font size="3" face="Times New Roman">In what ways has 
  this study positively or negatively influenced your health care or interactions 
  with your medical care providers?</font></li>

</ol>
</ul>
 <br>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">It will be requested 
  that answers to the questions or a &quot;no change&quot; reply be returned 
  to the Investigator within one week of receipt.     </font></li>
  <li><font size="3" face="Times New Roman">Additionally, at 
  five year intervals and at the end of participation in the study, participants 
  will be asked to write their thoughts about the project overall and 
  whether this consent form adequately described the procedures and risks 
  associated with study participation.  We request that participants 
  report immediately to PGP staff any acute differences between their 
  experiences as a participant and the contents of the consent form and 
  other study documents. </font></li>
</ul>
 <br> <br> <br> <br>

<p><font size="3" face="Times New Roman"><b><u>DURATION OF THE PROJECT</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">The duration of 
  your participation is 25 years from the time of enrollment, however 
  you may choose to opt-out of participation at any time.  Sample 
  analysis and data processing will continue for up to an additional 25 
  years.  The open web version of your genetic data and other information, 
  such as medical information and physical trait data, submitted to the 
  PGP will be maintained for 50 years, unless removal is requested in 
  writing before that. </font></li>
</ul>
 <br> <br><p> <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>
RISKS AND DISCOMFORTS</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">We encourage you 
  to discuss this study and the potential risks, as outlined below and 
  on the project website, with your immediate family members.</font></li>

  <li><font size="3" face="Times New Roman">No known or foreseeable 
  risks or side effects are associated with buccal, saliva, skin swab, 
  or fecal sampling procedures.  The blood draw and skin biopsy may 
  involve a small amount of pain and may also cause temporary bruising 
  and/or infection at the site of puncture.</font></li>
  <li><font size="3" face="Times New Roman">The risks of public 
  disclosure of your genotype and phenotype information could affect employment, 
  insurance, financial well-being, and social interactions for you and 
  your immediate family.  For example, data such as facial images 
  can be used to identify you which could result in higher than normal 
  levels of contacts from the press and other members of the public motivated 
  by positive or negative feelings about the study. This could mean a 
  significant loss of privacy and personal time. </font></li>
  <li><font size="3" face="Times New Roman">You should also 
  be aware of the ways in which knowledge of your genotype and phenotype 
  might be used. For example, anyone with sufficient knowledge could take 
  your genome and/or posted medical information and use them to (1) infer 
  paternity or other features of your genealogy, (2) claim statistical 
  evidence that could affect your employment or insurance or ability to 
  obtain financial services, (3) claim relatedness to criminals or incriminate 
  relatives, (4) make synthetic DNA and plant it at a crime scene, (5) 
  reveal the possibility of a disease or unknown propensity for a disease. </font></li>
  <li><font size="3" face="Times New Roman">The genetic, medical, 
  and non-medical information posted on the study website, while directly 
  associated only with you, may also have relevance to your family members. 
  The risks that the public availability of this information poses to 
  you is yet unknown. It may or may not be small. In any case, the risk 
  to your relatives will be smaller.  In many instances, anything 
  that is later inferred solely from your DNA sequence will be speculative 
  with respect to you, and even less predictive with respect to your family, 
  since inheritance of nearly any particular genetic variation is 50:50.  </font></li>
  <li><font size="3" face="Times New Roman">Additional risks 
  will be posted on the study web page as they become apparent. (</font><a href="http://arep.med.harvard.edu/PGP/" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.personalgenomes.org</u></font></a><font size="3" face="Times New Roman">)</font></li>

  <li><font size="3" face="Times New Roman">A Data Safety Monitoring 
  Board (DSMB) will monitor risks to study participants and study progress.  </font></li>
  <li><font size="3" face="Times New Roman">If physical injury 
  resulting from participation in this research should occur, please seek 
  medical care immediately and contact the Principal Investigator.  
  Although HarvardÕs policy is not to provide compensation, medical 
  treatment will be available including first aid, emergency treatment 
  and follow-up care as needed, and your insurance carrier may be billed 
  for the cost of such treatment. In making such medical treatment available, 
  or providing it, the persons conducting this research project are not 
  admitting that your injury was their fault. </font></li>
  <li><font size="3" face="Times New Roman">In the unlikely 
  event that you, in conjunction with your health care team, decide that 
  follow-up clinical tests, monitoring, or treatments are necessary as 
  a result of any information obtained as a participant in the PGP, payment 
  must be provided by you or your third party payer, if applicable.  
  No special arrangements will be made by the PGP for compensation or 
  for payment solely because of your participation in this study.  </font></li>
</ul>
 <br><p> <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u></u></b></font> <br>
</p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>BENEFITS</u></b></font></p>

<ul type="DISC">
  <li><font size="3" face="Times New Roman">There are no proven 
  benefits to you from your participation in this study. </font></li>
  <li><font size="3" face="Times New Roman">The study may also 
  benefit the community as a whole Ð for example, finding genetic causes 
  and predispositions for common diseases and/or preventative measures 
  observable in existing populations might be due to variation in lifestyle.  
  You may experience satisfaction from participating in research that 
  may benefit medical science. </font></li>
</ul>
 <br> <br> <br>
<p align="justify"><font size="3" face="Times New Roman"><b><u>INTELLECTUAL 
PROPERTY</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Your tissue specimens, 
  DNA samples, and personal information will not be sold by the PGP to 
  any person, institution, or company for financial gain or commercial 
  profit. However, neither you nor your heirs will gain financially from 
  discoveries made using the information and/or specimens that you provide.</font></li>

</ul>
 <br> <br> <br>
<p align="justify"><font size="3" face="Times New Roman"><b><u>CONFIDENTIALITY</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">If you are enrolled 
  in the PGP, personal information collected via phenotype questionnaires 
  will be made available, along with your genome sequence, to the PGP 
  staff.  You will be able to choose to publish this information 
  on a publicly accessible website and database.    </font></li>
  <li><font size="3" face="Times New Roman">Your genotype and 
  phenotype data will not be sent to your health care provider by the 
  Personal Genome Project and will therefore not become part of your medical 
  record due to any activities of the PGP staff, without your permission.</font></li>
  <li><font size="3" face="Times New Roman">Your reply to the 
  quarterly Safety Questionnaires will be confidential by default. However, 
  the DSMB or study sponsor may request this information in order to judge 
  the risks to you and any other study participants. </font></li>

  <li><font size="3" face="Times New Roman">Responses to the 
  Safety Questionnaires that may impact other participants or the public 
  generally will be paraphrased and/or de-identified prior to making this 
  information publicly available on the web for purposes of public education 
  or risk management.  If you would like your answers to be identified, 
  then you will need to indicate that as part of your response to the 
  questionnaires.</font></li>
  <li><font size="3" face="Times New Roman">The results of this 
  study may be published in a medical book, journal, website or webpage, 
  or used for teaching purposes. Your name and other identifiers (such 
  as your photograph and medical information provided during the course 
  of the study) may be used in such publications or teaching materials.  
  You will not be notified by the PGP prior to the use of your information 
  for these activities.</font></li>
</ul>
 <br> <br> <br><p> <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u></u></b></font> <br>
</p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>REFUSAL 
OR WITHDRAWAL OF PARTICIPATION</u></b></font></p>

<ul type="DISC">
  <li><font size="3" face="Times New Roman">Participation in 
  this study is voluntary. You do not have to participate in this study. </font></li>
  <li><font size="3" face="Times New Roman">You may withdraw 
  your participation and/or your data from this study at any time; however 
  you are advised that once this information is posted on the Internet, 
  it is impossible to confirm that it is ever fully removed. </font></li>
  <li><font size="3" face="Times New Roman">The Investigator 
  may decide to end your participation in this study at any time after 
  he/she has explained the reasons for doing so.</font></li>
  <li><font size="3" face="Times New Roman">Participation may 
  be ended if participants do not comply with the Safety Questionnaires 
  described above.</font></li>
</ul>
 <br> <br> <br>

<p align="justify"><font size="3" face="Times New Roman"><b><u>ALTERNATIVES</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">The alternative 
  is not to participate in this research study. </font></li>
  <li><font size="3" face="Times New Roman">If you choose not 
  to participate, your medical treatment at your hospital and other medical 
  care providers will be unaffected. </font></li>
</ul>
 <br> <br> <br>
<p align="justify"><font size="3" face="Times New Roman"><b><u>RESEARCH-RELATED 
CONTACT INFORMATION:</u></b></font></p>
<ul type="DISC">

  <li><font size="3" face="Times New Roman">If you have any 
  questions or concerns about the study, or if you suffer a research related 
  injury, you may contact the investigator: George Church, PhD, at (617) 
  432-7562 or </font><a href="mailto:church@rascal.med.harvard.edu" target="_blank"><font size="2" face="Times New Roman"> </font><font color="#0000FF" size="3" face="Times New Roman"><u>http://arep.med.harvard.edu/<wbr/>gmc/email.html </u></font></a><font size="3" face="Times New Roman"> . </font></li>
  <li><font size="3" face="Times New Roman">If you wish to discuss 
  your rights as a participant in a research study, or if you feel under 
  any pressure to enroll in this study you may contact: Carolyn Connelly, 
  PhD, the Director of the Office for Research Subject Protection at Harvard 
  Medical School (617) 432-0651 or </font><a href="mailto:Carolyn_connelly@hms.harvard.edu" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>Carolyn_connelly@hms.harvard.<wbr/>edu</u></font></a><font size="3" face="Times New Roman">.  </font></li>
</ul>
 <br> <br> <br>

<p align="justify"><font size="3" face="Times New Roman"><b><u>MONOZYGOTIC 
TWIN</u></b></font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">If you have any 
  living siblings who are your identical (monozygotic) twin, then the 
  sibling(s) will need to provide consent for your participation in this 
  research project before the PGP will consider you for enrollment.  
  Instructions for obtaining consent can be found on the project website 
  (<a href="http://www.personalgenomes.org" target="_blank">www.personalgenomes.org</a>).   </font></li>
</ul>
 <br>
<ul><p><font size="3" face="Times New Roman">     
Do you have a living identical (monozygotic) twin?  YES / NO</font> <br>
</p></ul>
<p><font size="3" face="Times New Roman"> </font></p>

<p> <br></p>
<p align="justify"><font size="3" face="Times New Roman"><b><u>
SIGNATURE</u></b></font></p>
<p align="justify"><font size="3" face="Times New Roman">I have read 
this entire form and I understand it completely.  I confirm that I understand 
the purpose of the research, the study procedures, possible risks and 
discomforts, potential benefits that I may experience, and alternatives 
to my participation in this study. All my questions have been answered 
to my complete satisfaction.  </font></p>
<p><font size="3" face="Arial"> <br>
</font><font size="3" face="Times New Roman">I understand that by typing 
my name and email address in the box below I am signing this form and 
therefore am providing informed consent for this study.</font><font size="3" face="Arial"> <br>
  <br>
</font><font size="3" face="Times New Roman">Name: </font><font size="3" face="Arial"> <br>

 <br>
</font><font size="3" face="Times New Roman">Email: </font><font size="3" face="Arial"> <br>
 <br>
</font></p>


<% form_for :participation_consent do |f| %>
  <%= f.submit %>
<% end %>
