<h2>Contact Our Researchers</h2>

<p>
The Personal Genome Project has a <a href="http://www.personalgenomes.org/people.html">very small staff</a>. Our
researchers will take some time to respond to participant emails every week but
please be patient with us. Please fill out the following form to send us your
questions or comments. We recommend that you consult our <a href="http://www.personalgenomes.org/faq.html">FAQ</a> before asking you
question, as you may find the information you need there.
</p>

<h3>Send an e-mail to our researchers</h3>

<p>
<%= render 'form' %>
</p>


