<h2>Contact support</h2>

<p>Please fill out the following form to send your question to our support team. Your question will receive a reply as soon as possible.</p>

<p>
  <strong>We recommend that you consult our <a href="http://www.personalgenomes.org/faq.html">FAQ</a> before asking your question, as you may find the information you need there.</strong>
  <br />
</p>

<h3>Send an e-mail to our support team</h3>

<p>
<%= render 'form' %>
</p>


