<h1>Editing exam definition</h1>

<% form_for [:admin, @content_area, @exam_definition] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
