[submodule "lib/flot"]
	path = lib/flot
	url = git://github.com/flot/flot.git
[submodule "lib/longupload"]
	path = lib/longupload
	url = git://git.clinicalfuture.com/longupload.git
[submodule "lib/jsHashes"]
	path = lib/jsHashes
	url = git://github.com/h2non/jsHashes.git
[submodule "lib/jquery-ui"]
	path = lib/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
