<% content_for :head do %>
  <%= javascript_include_tag 'open_humans' %>
<% end %>


<h2>Open Humans Project</h2>

<p>Connect your data for research, and connect to researchers that want to build on your genome data!</p>

<p>Open Humans enables members to automatically import data from diverse studies and activities. We want our members to have opportunities to connect to new studies, and we allow members to publicly share their data sets. (This is redundant for PGP data, but there are many other data sources!)</p>

<p>By becoming an Open Humans member, you'll be able to import data from PGP Harvard and connect it to data from other sources. You'll also be able to participate in additional studies, which will create new exportable data that builds your Open Humans profile.</p>

<p>Open Humans is a project of PersonalGenomes.org, co-founded by Jason Bobe and Madeleine Ball. The Open Humans website is not itself a study, but does contain an IRB-approved study (PI: Madeleine Ball) for members that wish to publicly share data.</p>

<div class="authorization-instructions">
  <% user_token = @open_humans_service.oauth_tokens.find_by_user_id( current_user.id ) %>
  <% if user_token %>
    <% if user_token.oauth2_expired? %>
      <div class="authorization-button">
        Authorization has expired
        <%= link_to 'Refresh',
                    open_humans_tokens_path( :service_id => @open_humans_service.id ),
                    :class => 'btn btn-small',
                    :method => :post %>
      </div>
    <% else %>
      <div class="open-humans-token authorization-button" data-token-id="<%= user_token.id %>">
        Authorization is current... loading your registered huIDs
      </div>
    <% end %>
  <% else %>
    <div>
      <p>
        The link below establishes a link to Open Humans. They will return you to this page. After this, you must approve export of your participant ID (huID) to Open Humans to connect your data.
      </p>
      <div class="authorization-button">
        <%= link_to 'Add Authorization',
                    open_humans_tokens_path( :service_id => @open_humans_service.id ),
                    :class => 'btn btn-small',
                    :method => :post %>
      </div>
    </div>
  <% end %>
</div>
