<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<%=raw @email_body -%>

    <p>PS: automated reminders for this survey can be disabled <%= link_to("here", edit_google_survey_reminder_url(:google_survey_id => @gs)) -%>

  </body>
</html>
