<html>
<body>
<p>Your account has been created.</p>

<ul>
<li>Name: <%=h @user.full_name %></li>
<li>Email: <%=h @user.email %></li>
</ul>
<p>Visit this url to activate your account:</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

</body>
</html>
