<h2>Enrollment Queue</h2>

<p>
Thanks for completing the eligibility screening process for the Personal
Genome Project.  We are in the process of implementing new tools that will
enable you to collect and manage your trait data and to participate in other
PGP research activities.  We expect these tools will be ready approximately
August 1st, 2010.  We will post updates on this page and send you an email
when we launch the new tools.
</p>
<p>
In the meantime, you should consider creating a Microsoft Healthvault account and
populating it with your personal health data. One of the tools we will be
launching includes a tool that integrates with Microsoft Healthvault. To learn more
about creating a Microsoft Healthvault account, visit their website:
<a href="http://www.healthvault.com/">http://www.healthvault.com/</a>
</p>
