<h2>Identity Verification</h2>
<p/>
The PGP may request certain information from you to verify your identity at a
later time, such as a mailing address.  If we are unable to verify your
identity, we may request that you send additional information to the PGP by
mail, fax, and/or online.
<p/>
<%= link_to 'Continue', done_identity_verification_notification_path %>

