<h1>Editing exam question</h1>

<% form_for :exam_question, @exam_question,
            :url => admin_content_area_exam_exam_version_exam_question_path(
              @content_area,
              @exam,
              @exam_version,
              @exam_question),
            :html => { :method => :put } do |f| %>

  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
