<div id="mini_consent">

<table style="border: 1px solid gray;" cellpadding="10">
<tr border="0px">

<td border="0px">

<p>
<b>Title: </b>Personal Genome Project Entrance Exam 
</p>

<p>
<b>Name & Contact Information: </b>George Church, Harvard Medical School 
</p>

<p>
<b>Purpose: </b>To evaluate comprehension of concepts relevant to being a participant in the Personal Genome Project 
(PGP) for the purpose of providing individuals access to enrollment procedures. 
</p>

<p>
<b>Duration: </b>My participation in this exam will include the completion of an online set of 40-60 questions. 
</p>

<p>
<b>Procedures:  </b>I will be asked to complete this online questionnaire and provide the following personal information 
name, year of birth, and email address. 
</p>

<p>
<b>Potential Risks/Discomforts: </b>No known risks or discomforts.  
</p>

<p>

<b>Potential Benefits: </b>No known benefits. 
</p>

<p>
<b>Confidentiality: </b>Your name or identity will be linked to your responses and shared with PGP staff.  All responses to this 
survey will be kept confidential.
</p>

<p>
<b>Right to refuse to withdraw: </b>I understand that my participation is voluntary and I may refuse to participate, or may discontinue it at 
any time.  However, to be considered for enrollment in the PGP correct responses to all questions are 
required.  You may request to have your personal data (e.g. name and email) deleted at any time.  
However, if correct responses were provided to all questions, a request to delete personal data will 
invalidate the exam and access to enrollment procedures will be removed. 
</p>

<p>
<b>Individuals to contact: </b>If I have a question about my participation in this study, I can contact George Church at Harvard 
Medical School.  Contact information available at: 

<a href="http://arep.med.harvard.edu/gmc/email.html">http://arep.med.harvard.edu/gmc/email.html</a>.
<br/>&nbsp;<br/>  
I have read this entire form and I understand it completely.  All of my questions regarding this form 
have been answered to my complete satisfaction.  I agree to participate in this entrance exam 
questionnaire. 
<br/>&nbsp;<br/>  
I understand that by typing my name and email address in the box below I am signing this form and 
therefore am providing informed consent for this questionnaire. 
</p>

</td>
</tr>
</table>
</div>
