<h3>Table of contents</h3>

<ul>
<% @ev.study_guide_pages.each do |sgp| -%>
  <li><%= link_to(sgp.title, show_study_guide_page_path({ :exam_id => @ev.exam.id, :ordinal => sgp.ordinal })) %></li>
<% end -%>
</ul>

<p>
  <%= link_to 'Questions', content_area_retake_exam_path(@content_area, @ev.exam), :method => 'post' %>
</p>
