<div class="data-type-advice-container ui-helper-hidden">
  <div data-type-advice="biometric data - CSV or similar">
    <p>This is a flexible category intended to allow the upload
      of various formatted nongenetic data. Currently we do not
      have any standard formats for biometric data. We may create
      such categories if we see multiple participants donating the
      same standard format.</p>

    <p>If you have genetic data to donate, please select one of
      the “genetic data” categories.</p>
  </div>
  <div data-type-advice="23andMe">
    <p>23andme currently provides two types of genetic data:
      genotyping data and exome data.</p>

    <p><b>Genotyping data</b></p>

    <p>Genotyping data is the standard genetic data created for
      users of 23andme. If you are a 23andme user, you can
      download your raw genotyping data by visiting:
      https://www.23andme.com/you/download. Enter the requested
      information and select the “All DNA” data set.</p>

    <p>Raw genotyping data from 23andme takes the form of a zip
      archive containing a single file. The following options are
      both supported for automatic interpretation:</p>

    <ol>
      <li>Upload the original ZIP archive: The name of the file
        in this archive contains your full name as provided to
        23andme (it is not removed even if you rename the
        archive). If you do not want this publicly shared, you may
        wish to attempt option 2 below.</li>

      <li>Uncompress and upload a renamed file: If you
        uncompress the ZIP archive, you will find a file ending in
        “.txt”. You may rename this file to remove your
        name. Other than the file name, we believe the file does
        not contain your name or username, but we cannot guarantee
        this (for example, 23andme’s format may change). You may
        upload the renamed file as it is, or compressed in *.zip,
        *.gz, or *.bz2 formats. (If uploaded as a *.zip, it must
        be the only file in the archive.)</li>
    </ol>

    <p><b>Exome data</b></p>

    <p>23andme has begun to offer pilot “exome sequencing”. This
      service performs partial genome sequencing using exon
      capture to selectively sequence the protein-coding regions
      of genes. Currently 23andme provides VCF files and BAM
      data. We support automatic interpretation of the VCF
      file. Our current request is for participants donating exome
      data is to upload a compressed VCF format file
      (e.g. “23andme_exome.vcf.gz”).</p>
  </div>
  <div data-type-advice="Complete Genomics">
    <p>We support automatic interpretation of the “var” file
      format from Complete Genomics. Our current request for
      participants donating Complete Genomics genome data is to
      upload a compressed “var” format file
      (e.g. “var-GS000001394-ASM.tsv.bz2”).</p>
  </div>
  <div data-type-advice="Counsyl">
    <p>We are not aware of any standard raw data formats
      provided by Counsyl diagnostics that may be used for
      automatic interpretation. You may upload PDF files for
      reports returned by Counsyl diagnostic testing. These will
      be publicly displayed on your profile, but not automatically
      interpreted.</p>
  </div>
  <div data-type-advice="DeCode">
    <p>We plan to support automatic interpretation of DeCode raw
      data.</p>

    <p>We do not currently have instructions here for how to
      download this data. If you are a participant with an account
      with DeCode, you might be able to provide us with this
      (please use the “Contact Us” button). Thanks!</p>

    <p>Raw data from deCODEme takes the form of a zip archive
      containing three files. The following options are both
      supported for automatic interpretation:</p>

    <ol>
      <li>Upload the original ZIP archive: One of the files in
        this archive contains your deCODEme username. We can
        publicly reshare the ZIP archive and extract the
        genotyping information for automatic processing, but some
        participants might not want their deCODEme username
        associated with their PGP account. If this is a concern,
        you may wish to attempt option 2 below.</li>

      <li>Upload only “deCODEme_scan.csv”: If you uncompress the
        ZIP archive, this is one of the files within it. We
        believe the “deCODEme_scan.csv” file does not contain your
        name or username, but we cannot guarantee this (for
        example, deCODEme’s format may change). You may upload
        this file as it is, or compressed in *.zip, *.gz, or *.bz2
        formats. (If uploaded as a *.zip, it must be the only file
        in the archive.)</li>
    </ol>
  </div>
  <div data-type-advice="Family Tree DNA">
    <p><b>Genotyping data</b></p>

    <p>We plan to support automatic interpretation of Family
      Tree DNA raw genotyping data.</p>

    <p>We do not currently have instructions here for how to
      download this data. If you are a participant with an account
      with Family Tree DNA, you might be able to provide us with
      this (please use the “Contact Us” button). Thanks!</p>

    <p><b>Mitochondrial and Y chromosome data</b></p>

    <p>Family Tree DNA also provides mitochondrial and Y
      chromosome testing in the form of PDF files. You may upload
      PDF files for reports returned by Family Tree DNA. These
      will be publicly displayed on your profile, but not
      automatically interpreted.</p>
  </div>
  <div data-type-advice="Illumina">
    <p>Illumina has started to provide a personal genome
      sequencing service called “EveryGenome”. Once we have
      received some examples of their data, we hope to support
      automatic interpretation of it.</p>
  </div>
</div>
