<h2>Eligibility Questionnaire Results</h2>

<% if @passed -%>

Thank you for your interest in joining with the PGP to advance personal genomic
research! Your minimum eligibility application has been reviewed. Based on the
information you provided, you are eligible to continue to the next stage of
eligibility screening.
<p/>
<a href="/">Continue</a>

<% else -%>

Thank you for your interest in joining with the PGP to advance personal genomic research!
<p/>
Your eligibility application has been reviewed. Based on the information you
provided, you do not meet the minimum eligibility criteria for the PGP. To be
considered for enrollment, the following criteria must be met:

<ul>
<li>Citizen or permanent resident of the United States
<li>Age 21 or over
<li>If you have a living monozygotic twin, s/he must be willing to participate in the PGP
<li>Preferences about worrisome information and/or publicly sharing genomic, health, and trait data is inconsistent with the nature of the PGP.
</ul>
 
You will not be invited to continue the enrollment process for the PGP until
all eligibility criteria are met. If your circumstances change and you are
able to satisfy the minimum eligibility criteria outlined above, you may revise
your eligibility application and resubmit it to the PGP for review. 

<p/>
Thanks,<br/>
Personal Genome Project staff
<p/>
<a href="/screening_surveys">Revise eligibility questionnaire answers</a>

<% end -%>

