<div class="exam_progress">
  <div class="progress_bar_wrapper">
    <div class="progress_bar" style="width: <%= answered_questions.to_f / total_questions.to_f * 100.0 %>%;"></div>
  </div>
</div>

<p>Question <%= current_question %> out of <%= total_questions %>:</p>
