<h2>Researcher Admin Tools</h2>

<h3>Parameters</h3>

<ul>
  <li><%= link_to raw("<strong>Tissue Types</strong>"), url_for(:controller => '/tissue_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Device Types</strong>"), url_for(:controller => '/device_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Units</strong>"), url_for(:controller => '/units', :action => 'index') %></li>
</ul>
