<h2>Personal Health Record</h2>

<p>We believe that PGP participants will benefit over the long-term if select personal health information is managed through a standardized Personal Health Record (PHR).  The Personal Genome Project has selected Google Health as our preferred PHR provider.  In order to be considered for enrollment, the PGP requests that you follow the instructions and guidelines for creating, populating, and sharing a Google Health PHR.  <a href="/PGP_PHR_Instructions.pdf">Download Instructions (PDF)</a>.</p>

<h3>(1) Create a Google Health account:</h3>

To create a Google Health account, please visit <a href="http://www.google.com/health/">Google Health</a>.

<p>For detailed instructions on how to create a Google Health account, please see: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=93491">Getting Started Guide</a>."</p>

<h3>(2) Populate your Google Health Profile</h3>

After you create a Google Health account, please complete the following sections of your profile:

<ol>
<li>Age, sex, height...</li>
<li>Conditions</li>
<li>Medications</li>
<li>Allergies</li>
</ol>

<p>The other sections of the PHR are optional, but encouraged.</p>

<h3>(3) Rename your profile</h3>

After you populate your Google Health profile with the requested information, please rename your profile with the email address you use to login to the PGP site.  For more detailed instructions, please see the article "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=89253">Settings: Renaming your profile</a>."

<h3>(4) Share your PHR with the PGP</h3>
After you rename your Google Health profile as described above, please share your profile with the PGP using this email address: <a href="mailto:share-phr@personalgenomes.org">share-phr@personalgenomes.org</a>.

<p>For more detailed instructions, please see the article: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=138423">Using Google Accounts: Sharing your profile</a>."</p>

<h3>(5) Confirm</h3>
Please confirm that you have shared your PHR with the PGP.


<%= form_tag(phr_path) %>
  <p>
    <label for="phr_profile_name">The name of your Google Health profile is:</label><br/>
    <%= text_field_tag :phr_profile_name %>
  </p>

  <%= submit_tag 'I have shared my PHR' %>
</form>
