<h2>Personalized Health Record</h2>

<p>We believe that PGP participants will benefit over the long-term if select personal health information is managed through standardized Personal Health Records (PHRs).  The Personal Genome Project has selected Google Health as our preferred provider of PHRs.  In order to be considered for enrollment, the PGP requests that you follow the instructions and guidelines for creating, populating, and sharing a Google Health PHR.</p>


<h3>(1) Create a Google Health account:</h3>

<p>To create a Google Health account, please visit <a href="http://www.google.com/health/">Google Health</a>.</p>

<p>For detailed instructions on how to create a Google Health account, please see: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=93491">Getting Started Guide</a>."</p>

<h3>(2) Populate your Google Health Profile</h3>

After you create a Google Health account, please complete the following sections of your profile:

<ol>
<li>Age, sex, height...</li>
<li>Conditions</li>
<li>Medications</li>
<li>Allergies</li>
</ol>

<p>The other sections of the PHR are optional.   For example, you may voluntarily choose to share information about:</p>
<ol>
<li>Procedures</li>
<li>Test Results</li>
<li>Immunizations</li>
</ol>

<p>but these sections of the PHR are not required to be considered for enrollment in the PGP.</p>

<h3>(3) Rename your profile</h3>

<p>After you populate your Google Health profile with the requested information, please rename your profile with the email address you use to login to the PGP site.  For more detailed instructions, please see the article "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=89253">Settings: Renaming your profile</a>."</p>

<h3>(4) Share your PHR with the PGP</h3>
<p>After you rename your Google Health profile as described above, please share your profile with the PGP using this email address: <a href="mailto:share-phr@personalgenomes.org">share-phr@personalgenomes.org</a>.</p>

<p>For more detailed instructions, please see the article: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=138423">Using Google Accounts: Sharing your profile</a>."</p>

<% form_for :phr do |f| %>
  <%= f.submit 'I have shared my PHR with the PGP' %>
<% end %>
