@charset "UTF-8";

table.plate_layout {
    border-collapse: collapse;
}

/*
From http://jigsaw.w3.org/css-validator:
In CSS1, a class name could start with a digit (".55ft"), unless it was a
dimension (".55in"). In CSS2, such classes are parsed as unknown dimensions (to
allow for future additions of new units) To make "12columns" a valid class,
CSS2 requires the first digit to be escaped ".\31 2columns" [12columns td]
*/
table.plate_layout.\31 2columns td {
    width: 8.3333333%;
}

table.plate_layout td {
    height: 1.5em;
    border: 1px solid #d9d9d9;
    text-align: center;
}
table.plate_layout td.masked {
    border: 1px solid #d9d9d9;
}
table.plate_layout td.empty {
    background: #fff;
}
table.plate_layout td.empty.masked {
    background: #c9c9c9;
}
table.plate_layout td.has_sample {
    background: #00b4ff;
}
table.plate_layout td.has_sample.masked {
    background: #accddb;
}
table.plate_layout td.unusable {
    background: #505050;
}
table.plate_layout td.unusable.masked {
    background: #c6c6c6;
}
table.plate_layout td.next_available {
    background: #4f4;
    border: 3px solid #080;
}
table.plate_layout td.has_sample img {
    width: 100%;
    height: 100%;
}
