<h2>Entrance Exams</h2>
<ol id="exam_listing">
<% @content_areas.each do |area| -%>
  <% content_tag_for 'li', area, :class => content_area_class(area)do %>
    <span><%=h area.title %></span>
    <ol>
    <% area.exams.each do |exam| -%>
      <% if version = exam.version_for(current_user) %>
        <% content_tag_for 'li', exam, :class => exam_class(exam) do %>
          <% exam_response = version.exam_responses.for_user(current_user).first -%>
          <% if exam.any_version_completed_by?(current_user) -%>
            <span>
              <%=h version.title %>
              <div class="completion_time">
                Completed <%= distance_of_time_in_words_to_now(exam_response.created_at) %> ago
              </div>
            </span>
          <% else -%>
            <%= render :partial => 'exams/exam_response_status',
                       :locals => {
                         :content_area  => area,
                         :exam          => exam,
                         :exam_response => exam_response,
                         :exam_version  => version} %>
          <% end -%>
        <% end %>
      <% end %>
    <% end -%>
    </ol>
  <% end %>
<% end -%>
</ol>
