<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unused_kit_name.name %>
</p>


<%= link_to 'Edit', edit_unused_kit_name_path(@unused_kit_name) %> |
<%= link_to 'Back', unused_kit_names_path %>
