<h2>Trait Data</h2>
<p/>
Once you are enrolled in the PGP, you will be given the opportunity to publish
your genetic, health, and trait data to the PGP’s public website and database.
We will provide tools that will help you create and manage your public profile.
<p/>

If you would like to get started collecting your health data now, we encourage
you to create a Personal Health Record (PHR) at Microsoft Healthvault. This PHR
allows you to collect a wide range of basic information about your medications,
allergies, vaccines, personal medical history, vital signs, and other
information. Microsoft Healthvault also enables you to collect your data from
major pharmacies and other service providers. Once you are enrolled in the PGP,
we will provide a tool that allows you to link your Microsoft Healthvault
account with your PGP account and make that information publicly available. To
get started with Microsoft Healthvault, please visit:

<p/>
&nbsp;&nbsp;<a href="http://www.healthvault.com/">http://www.healthvault.com/</a>
<p/>
<%= link_to 'Continue', done_baseline_trait_collection_notification_path %>

