<% content_for :head do %>
  <script type="text/javascript">
        function traitwiseSetIFrameHeight( height ) {
                var iframe = document.getElementById( 'traitwiseIframe' );
                iframe.setAttribute( 'height', height );
        }
  </script>
<% end %>
<h2>Traitwise</h2>
<div>
<iframe id="traitwiseIframe" src="traitwise/iframe/<%= params[:id] %>" width="760px" height="100px" frameborder="0" scrolling="no"></iframe>
</div>
