<div id="mini_consent">
<p>To access online eligbility screening procedures, please read, review, and electronically sign the following consent form.</p>


<p><strong>Consent Form </strong><br /></p>
<table border="1" cellspacing="0" cellpadding="2">
  <tr>
    <td width="468" valign="top"><br />
      Protocol Title:<strong> Eligibility Screening for the Personal Genome Project</strong> </td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Principal Investigator: <strong>George   M. Church, Ph.D. </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Site-Responsible   Investigator's Institution:<strong> Harvard Medical School </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Description of Volunteer Population:<br />
            <strong>We are seeking a diverse range of volunteers from as varied a set of genetic, social and environmental backgrounds as possible.  Volunteers must be willing to make their genetic and other human trait information publicly available and be knowledgeable about genetics, human subjects research and the benefits and risks of participation in a public genomics research project of this nature.</strong> </p></td>
  </tr>
</table>


<p><strong><u>I. PURPOSE</u></strong><br />
This eligibility screening form for the Personal Genome Project (this “Eligibility Screening”) is intended to help determine whether you are a candidate for enrollment in a public and open-ended research study such as the Personal Genome Project (also the “PGP” or the “study”).  If you successfully complete this Eligibility Screening you may be invited to enroll in the PGP.
</p>
<p>
The Personal Genome Project is a new form of public genomics research.  The main scientific goal of this study is to find ways to connect human genetic information (i.e., human DNA sequence, associated microbial sequence data and other molecular traits) with human trait information (i.e., medical information, tissue samples and physical traits) in a public way so that such data may be used for research and other scientific, patient care and commercial purposes worldwide.  Additional goals include (i) exploring the opportunities, impacts and risks of public genomics research such as the PGP; (ii) developing a public dataset of information from willing participants to aid in the development of analytical tools for scientists, clinicians and individuals; and (iii) educating participants and the general public about the potential benefits, risks, and uncertainties posed by the widespread availability of genetic and related information.  The PGP also seeks to develop a model system for experts on health care, molecular biology, genetic counseling, public health, law, education, and research to come together and collaborate.  We hope that the PGP’s proposed datasets will help to extend such discussions to the creation of case studies and to find out what individuals, clinicians, and researchers might want or not want in such datasets, and why.
</p>
<p>
If you successfully complete this Eligibility Screening and are subsequently enrolled in the PGP, your genetic and trait information will be made available on a publicly accessible website and database, as described in the separate PGP consent form.  You will be asked to review the PGP consent form as part of your participation in this Eligibility Screening.  In order to complete this Eligibility Screening and to be considered for enrollment in the PGP, you are first required to complete certain eligibility screening procedures online, including the eligibility questionnaire and entrance exam, and to review the separate PGP consent form.  This Eligibility Screening is intended to help determine whether you are a candidate for enrollment in the PGP.
</p>

<p><strong><u>II. WHAT IS INFORMED CONSENT</u></strong> <br />
Informed consent means you understand the procedures, risks, possible benefits, and alternatives before you voluntarily agree to participate in a research study.  Before you elect to participate, you need to understand if or how this Eligibility Screening may affect you and your family.  This Eligibility Screening consent form, along with other documents available on the PGP’s website (<a href="http://pgp.med.harvard.edu/">http://pgp.med.harvard.edu</a>), is intended to help you make an informed decision about your participation in this Eligibility Screening.  Should you successfully complete this Eligibility Screening you will need to complete a separate informed consent form before you may be invited to enroll in the PGP.  The PGP website will be revised as needed, possibly on a frequent basis, and you should check the website regularly to obtain the most current information about this Eligibility Screening and the PGP.</p>

<p><strong><u>III. DURATION </u></strong><br />
3.1 The eligibility questionnaire will take approximately 5-15 minutes.<br /><br />

3.2 The entrance exam will take approximately 30-90 minutes, but may take longer depending on your familiarity with genetics and other concepts relevant to participation in the PGP.<br /><br />

3.3 Reading and reviewing the PGP consent form will take approximately 30 minutes, but may take longer depending on your familiarity with genetics and other concepts relevant to participation in the PGP.
</p>

<p><strong><u>IV. ELIGIBILITY SCREENING PROCEDURES</u></strong><br />
<strong>4.1 ELIGIBILITY QUESTIONNAIRE</strong><br />
(a) You will be asked to respond to approximately 10 questions online and provide the following personal information: name, year of birth, zip code, and email address.&nbsp; The full list of personal information required may be found on the PGP website.<br/><br />
(b) Upon completion of the eligibility questionnaire, you will be notified by the PGP that you are either: (1) eligible to continue, (2) waitlisted, or (3) rejected.
</p>

<p><strong>4.2. ENTRANCE EXAM</strong><br />
(a) You will be asked to respond to 15-45 questions online.<br /><br />
(b) Correct responses to all exam questions are required to successfully complete this Eligibility Screening and to be considered for enrollment in the PGP.<br /><br />
(c) The entrance exam may be taken as many times as necessary to achieve correct responses to all questions.
</p>
<p><strong>4.3. REVIEW OF PGP CONSENT FORM</strong><br />
(a) You will be asked to review the consent form for enrollment in the PGP.&nbsp; You should carefully read and understand the procedures, risks and discomforts of participation in the PGP.<br /><br />
(b) A copy of the PGP consent form is available on the <a href="<%= APP_CONFIG['consent_document_url'] %>">PGP website</a>.<br />
</p>

<p><strong>4.4. COMPLETION AND SUBMISSION OF ELIGIBILITY SCREENING</strong><br />
(a) After you have completed the eligibility questionnaire, the entrance exam and any other required eligibility screening procedures, and reviewed the PGP consent form, you will be given the option to submit the results of your Eligibility Screening to the PGP for review.<br /><br />

(b) If you choose not to submit the results of your Eligibility Screening no determination will be made by PGP about your eligibility status and your participation in this Eligibility Screening will be terminated.&nbsp; You may choose to participate in this Eligibility Screening again at a later date.<br /><br />

(c) If you choose to submit the results of your Eligibility Screening your information will be transmitted to the PGP.&nbsp; Your information will be reviewed by the PGP and you will subsequently be notified by the PGP that you are either: (1) eligible to continue, (2) waitlisted, or (3) rejected.<br /><br />

(d) If you are waitlisted, the PGP may attempt to notify you if your eligibility status changes.<br /><br />

(e) Regardless of whether or not you choose to submit the results of your Eligibility Screening, and regardless of whether the PGP determines that you are eligible to continue, you will not be compensated, including for any time lost, for your participation in this Eligibility Screening.</p>


<p><strong><u>V. CONFIDENTIALITY</u></strong><br />
5.1 If you choose to submit the results of your Eligibility Screening, as described above, your name or identity will be linked to your responses and shared with PGP staff.&nbsp; The PGP will take reasonable precautions to ensure that your name and your Eligibility Screening responses and results are kept confidential.</p>

<p><strong><u>VI. RISKS AND DISCOMFORTS</u></strong><br />
6.1 There are no known risks or discomforts associated with your participation in this Eligibility Screening. <br /><br />

6.2 There are risks and discomforts associated with enrolling in the PGP, as described in the PGP consent form and on the PGP website.&nbsp; We strongly encourage you to discuss your interest in enrolling in the PGP study, and the potential risks of doing so, with your family. </p>

<p><strong><u>VII. BENEFITS</u></strong><br />
7.1 There are no proven benefits to you from your participation in this Eligibility Screening.
</p>

<p><strong><u>VIII. INTELLECTUAL PROPERTY</u></strong><br />
8.1 Your personal information will not be sold by the PGP to any person, institution, or company for financial gain or commercial profit.<br /><br />

8.2 Neither you nor your heirs will gain financially from any discoveries, whether or not of a commercial nature, made using the information that you provide.
</p>

<p><strong><u>IX. REFUSAL OR WITHDRAWAL OF PARTICIPATION</u></strong><br />
9.1 Participation in this Eligibility Screening is voluntary.&nbsp; You do not have to participate in this Eligibility Screening.<br /><br />

9.2 You may withdraw your participation from this Eligibility Screening, and request that the PGP delete any personal data that you may have submitted, at any time.<br /><br />

9.3 The PGP may decide, at its sole discretion, to end your participation in this Eligibility Screening at any time.<br /><br />

9.4 If you choose to submit the results of your Eligibility Screening, regardless of whether you are (1) eligible to continue, (2) waitlisted or (3) rejected, the PGP may retain certain information about you, including your name and the date of submission of your Eligibility Screening results.&nbsp; The PGP will delete all other data supplied by you within 6 months of your withdrawal or rejection from this Eligibility Screening.
</p>

<p><strong><u>X. ALTERNATIVES</u></strong><br />
10.1 The alternative is not to participate in this Eligibility Screening. <br /><br />

10.2 If you choose not to participate, your medical treatment at your hospital and other medical care providers will be unaffected.
</p>

<p><strong><u>XI. FUNDING SOURCES:</u></strong><br />
11.1 Please see <a href="http://pgp.med.harvard.edu/funding-sources">http://pgp.med.harvard.edu/funding-sources</a> for current funding sources.

<p><strong><u>XII. RESEARCHER FINANCIAL INTERESTS IN THIS STUDY:</u></strong><br />
12.1 George Church, PhD is an inventor of a number of technologies used for genome sequencing and is also a founder of, owner of, and/or advisor to a number of companies involved in genome sequencing from which he could derive a financial benefit. All of Dr. Church's outside relationships with such companies are detailed and periodically updated at <a href="http://arep.med.harvard.edu/gmc/tech.html">http://arep.med.harvard.edu/gmc/tech.html</a>.<br /><br />

In addition, other investigators on the study team have interests in genome sequencing companies, and could also benefit financially from them. All investigators' financial interests have been reviewed by Harvard Medical School.  If any financial benefit to Dr. Church and/or the other investigators on the study team is derived from these interests, there are no plans to provide compensation to research participants. This disclosure is made so that you may determine whether these potential financial interests affect your willingness to participate in this study. If you have questions, or would like a list of all study team members with financial interests in the research, please see the study personnel contact information section of this document for whom to contact.

<p><strong><u>XIII. RESEARCH-RELATED CONTACT INFORMATION:</u></strong><br />
13.1 If you have any questions or concerns about this Eligibility Screening, or if you suffer a research related injury, you may contact the Principal Investigator: George Church, PhD, at (617) 432-7562 or <a href="mailto:screening@personalgenomes.org">screening@personalgenomes.org</a><br /><br />

13.2 If you wish to discuss your rights as a participant in a research study, or if you feel under any pressure to enroll in this Eligibility Screening you may contact the Office of Human Research Administration (OHRA) at 617-432-2157 (or toll free at 1-866-606-0573) or email <a href="mailto:irb@hsph.harvard.edu">irb@hsph.harvard.edu</a>.
</p>

<p><strong><u>XIV. SIGNATURE</u></strong><br />
I have read this entire form and I understand it completely.&nbsp; I confirm that I understand the purpose of the research, the study procedures, possible risks and discomforts, potential benefits that I may experience, and alternatives to my participation in this Eligibility Screening.&nbsp; All of my questions have been answered to my complete satisfaction.</p>

<p>I understand that by typing my name and email address in the box below I am signing this form and am thereby providing informed consent for this Eligibility Screening.
</p>
<img src="<%= APP_CONFIG['consent_badge_url'] %>" border=0>
</div>
