<h2>Participation Consent</h2>

<p>You have not yet signed the latest version of our Participation Consent document. Please click the link below to do so.</p>

<p>
<div class="change_warning">
<b>Changes since the previous version of the Participation Consent document:</b>
<p>
v20210712<br>
We have revised section 13.2 of the PGP consent document to include the following revised paragraphs on conflicts of interest of the PGP research team:
</p>
<p>
<b>13.2 Researcher Financial Interests in this Study.</b> George Church, PhD is an inventor of a number of technologies used for genome sequencing and is also a founder of, owner of, and/or advisor to a number of companies involved in genome sequencing from which he could derive a financial benefit. All of Dr. Church's outside relationships with such companies are detailed and periodically updated at <a href="http://arep.med.harvard.edu/gmc/tech.html" target="_blank">http://arep.med.harvard.edu/gmc/tech.html</a>.
</p>
<p>
In addition, other investigators on the study team have interests in genome sequencing companies, and could also benefit financially from them. All investigators' financial interests have been reviewed by Harvard Medical School.  If any financial benefit to Dr. Church and/or the other investigators on the study team is derived from these interests, there are no plans to provide compensation to research participants. This disclosure is made so that you may determine whether these potential financial interests affect your willingness to participate in this study. If you have questions, or would like a list of all study team members with financial interests in the research, please refer to the contact information in this section for whom to contact.
</p>
</div>
</p>

<p>To continue as a participant in the PGP, you must accept the new consent. Alternatively, you may withdraw from the study by clicking here: <%= link_to 'withdraw', page_path(:withdrawal_menu) %>.</p>

<p><strong>TIP:</strong> don't forget: there are 2 separate selections to be made in the middle of the document!</p>

<p><%= link_to 'Review and sign Participation Consent document', participation_consent_path %></p>

