<h2>Participation Consent</h2>

<p>You have not yet signed the latest version of our Participation Consent document. Please click the link below to do so.</p>

<p>
<div class="change_warning">
<b>Changes since the previous version of the Participation Consent document:</b>
<p>
v20150505<br>
We've lowered the minimum age requirement for participation from 21 to 18.
</p>
<p>
v20140218<br>
We added one clause at the end clarifying that each person must sign their own
consent form. This is the new sentence:
</p>
<p>
  "You may not submit or sign this consent form on behalf of any other
  person, even if you are the parent, guardian or hold a power of attorney or
  comparable authority with respect to such person."
</p>
</div>
</p>

<p><strong>TIP:</strong> don't forget: there are 2 separate selections to be made in the middle of the document!</p>

<p><%= link_to 'Review and sign Participation Consent document', participation_consent_path %></p>

