<h2>Terms of Service</h2>

<p>Please confirm that you agree with our <%= link_to 'Terms of Service', 'http://www.personalgenomes.org/tos.html', :target => "_blank" %> (link opens in a new window)</p> 

<p><%= link_to 'I agree with the Terms of Service', accept_tos_user_path %></p>
