<h2>Distinctive traits survey</h2>

<p>Please list any traits that you view as making yourself distinctive compared to other people. Your answers might include traits that are physical, psychological, behavioral, etc.  You may include traits that are detrimental, i.e. a specific past or current medical condition; traits that are beneficial, i.e. an exceptional ability to swim; or traits that are neutral, i.e. heat intolerance.</p>
<p>For each trait, rank on a scale of 1-5 your belief as to the likelihood of the trait being environmental or genetic (with 1 being more environmental and 5 being more genetic). Let's use swimming again as an example. If a person is an exceptional swimmer and grew up by the shore and was encouraged to swim at an early age, that may be a 1 on this scale. On the other hand, an exceptional swimmer that grew up without encouragement to swim and with limited access to bodies of water, may be a 5.</p>


<%= form_tag distinctive_traits_survey_path, { :id => "distinctive_traits_form" } %>
  <div id="distinctive_traits_fieldset">
  </div>

  <p><input type="button" value="Add another trait" id="add_new_trait_button" /></p>
  <p><input type="submit" value="I am finished entering traits. Submit my list of traits." /></p>
</form>

<div id="original_trait_fields" style="display: none;">
  <div class="distinctive_trait_entry">
    <p>
      <label>Describe your trait in a few words:</label><br/>
      <input type="text" name="traits[][name]" size="100"/>
    </p>
    <p>
      <label>How would you rate this trait on a scale of environmental (1) to genetic (5)?</label><br/>
      <select name="traits[][rating]">
        <option value="1">1: Environmental</option>
        <option value="2">2: Mostly environmental</option>
        <option value="3" selected="selected">3: Mixed</option>
        <option value="4">4: Mostly Genetic</option>
        <option value="5">5: Genetic</option>
      </select>
    </p>
  </div>
</div>

<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js', 'selectToUISlider.jQuery.js' %>

<style type="text/css">
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
	width: 14em;
	margin-left: -6.7em;
}

.ui-slider {top: 1em; margin-bottom: 1em;}

</style>
<% content_for :js do %>
    $(document).ready(function () {
      var selectCount = 0;

      var addNewTrait = function() {
        var newTraitFields = $("#original_trait_fields").children().clone();
        $("#distinctive_traits_fieldset").append(newTraitFields);

        var select = newTraitFields.find("p select");
        select.attr("id", "trait_rating_select_" + selectCount);
        selectCount++;
        select.selectToUISlider();
        select.hide();

        return false;
      };

      $('#add_new_trait_button').click(addNewTrait);

      addNewTrait();
    });
<% end %>

