<h2>Detailed traits survey</h2>

<p><strong>Note:</strong> This step is still under consideration and development.  You can read the tentative instructions below, and prepare your answers.  Please check back in a few weeks, as this content should be developed by the end of August.</p>
<hr/>

<p>Please list any traits that you view as making yourself distinctive compared to other people. Your answers might include traits that are physical, psychological, behavioral, etc.  You may include traits that are detrimental, i.e. a specific past or current medical condition; traits that are beneficial, i.e. an exceptional ability to swim; or traits that are neutral, i.e. heat intolerance.</p>
<p>For each trait, rank on a scale of 1-5 your belief as to the likelihood of the trait being environmental or genetic (with 1 being more environmental and 5 being more genetic). Let's use swimming again as an example. If a person is an exceptional swimmer and grew up by the shore and was encouraged to swim at an early age, that may be a 1 on this scale. On the other hand, an exceptional swimmer that grew up without encouragement to swim and with limited access to bodies of water, may be a 5.</p>
