<h2>Contributing your 23andMe data</h2>

<p>If you are a PGP participant and you have 23andMe exome or SNP chip
data, you can upload it to your PGP profile.</p>

<p>The data you upload will be added to your public profile
immediately for the world to see.</p>

<p>We will process your data using tools
like <a href="http://evidence.pgp-hms.org">GET-Evidence</a>
and the resulting reports will also become public immediately.</p>

<p><%= link_to 'Upload your 23andMe VCF, TXT, or ZIP file to your public profile here.', new_user_file_path(:data_type => '23andMe') %></p>

<p>If you want to preview your GET-Evidence report before making your
data public, upload your data directly to GET-Evidence.

<%= link_to 'Learn how to do this from the GET-Evidence web site', 'http://evidence.pgp-hms.org/guides' %>
(see "uploading and analyzing genetic data").
