<h2>Introduction to Enrollment</h2>

<h3>Background Materials</h3>
<p>Prospective participants should familiarize themselves with all aspects of the Personal Genome Project (PGP), including eligibility criteria, benefits, risks, and study protocols as outlined in the consent forms and throughout this website. The following resources will help you make a thoughtful decision about whether to volunteer to participate in the PGP:</p>

<ul>
  <li><strong>Consent Forms:</strong> During the enrollment process,
    prospective participants in the PGP will be asked to read, review,
    and electronically sign
    online <a href="http://www.personalgenomes.org/consent">two
      different consent forms</a>:
    <ol>
      <li>the &ldquo;mini-consent&rdquo; for eligibility screening procedures; and</li>
      <li>the full consent form for enrollment and ongoing participation.</li>
    </ol>
  </li>
  <li><strong>PGP Study Guide:</strong>
    An <a href="http://www.personalgenomes.org/exam/v20120430-study-guide.pdf"
    title="study guide PDF">educational study guide</a> has been
    developed for prospective PGP volunteers. This is designed to help
    participants learn concepts relevant to passing the entrance exam.
  </li>
  <li><strong>PGP Public Profiles:</strong> The public profile pages
    for enrolled participants in the PGP can
    be <a href="/users/">reviewed online</a>.
  </li>
  <li><strong>Family History:</strong> We encourage you to
    participate in the US Surgeon
    General's <a href="http://familyhistory.hhs.gov/">Family Health
    Portrait</a> to increase the awareness of you and your family
    about the genetics that we may be exploring in the PGP.
  </li>
</ul>

<h3>Eligibility Screening</h3>
<p>To be considered for enrollment in the PGP, a short eligibility screening process must be completed online. This process has the following steps:</p> 

<p>
  <ol>
    <li><strong>Consent for eligibility screening</strong>: You will be asked to read, review, and electronically sign a &lsquo;mini-consent&rsquo; agreement and create an online account.</li>
    <li><strong>Eligibility questionnaire</strong>: Information will be collected from you via a short questionnaire (approximately 15 questions).</li>
    <li><strong>Entrance Exam</strong>: An entrance exam will assess your comprehension of concepts relevant to providing informed consent to participate in the PGP. Concepts include basic genetics, human subjects research literacy, and project protocols.</li>
    <li><strong>Review of consent form</strong>: You will be asked to affirm that you have reviewed the consent form.</li>
    <li><strong>Submission</strong>: After the satisfactory completion of the eligibility screening procedures, you will be given the option to submit the results to the PGP for review. You will subsequently be notified by the PGP that you are either (1) eligible to continue enrollment, (2) waitlisted, or (3) rejected.
    You may exit the eligibility screening process and/or withdraw your name from consideration at any time.  If you choose not to submit the results of your Eligibility Screening no determination will be made by PGP about your eligibility status and your participation in this Eligibility Screening will be terminated.  You may choose to participate in this Eligibility Screening again at a later date.</li>
  </ol>
</p>


<h3>Minimum Eligibility Criteria</h3>
<p>
  <ol>
    <li>21 years of age or older.</li>
    <li>Resident of the United States.</li>
    <li>Willing to publicly share genetic and trait data.</li>
    <li>Please note that anyone potentially subject to undue influence or coercion by the principal investigator (George Church), via employment in the PI's lab or enrollment in a class or program where the PI provides evaluation of student performance, is ineligible to participate in the PGP.</li>
    <li>If you do not meet the minimum eligibility criteria you may still participate in the eligibility screening process, but you will not be invited to enroll in the PGP until all eligibility criteria are met.</li>
    <li>Even if you meet the eligibility criteria, enrollment is not guaranteed. We will be expanding the number of enrolled participants incrementally.</li>
  </ol>
</p>


<h3>Selection Criteria for the &ldquo;PGP-100&rdquo;</h3>
<p>
  <ol>
    <li>Currently, there are 10 enrolled participants, known as the &ldquo;PGP-10&rdquo;.  We are now accepting enrollment applications and we will select 100 participants (&ldquo;PGP-100&rdquo;) for the next phase of the PGP.  After the &ldquo;PGP-100&rdquo; are enrolled, we will expand enrollment to 1000 participants, then 10,000 participants, and so on.  Minimum eligibility criteria and selection criteria may change as the project grows.</li>
    <li>In addition to the minimum eligibility criteria, the PGP will give priority to applicants who also satisfy the following criteria: older individuals, individuals with grown children, individuals with immediate family members who also seek enrollment in the PGP, and individuals motivated to represent the PGP in various stakeholder communities.</li>
    <li>The enrollment process for the PGP-100 will require a visit to a medical center in Boston at the participant's expense.  In the future, we plan to enable other options for volunteers unable to travel to Boston.</li>
  </ol>
</p>

<p>
<%= link_to image_tag('start.png'), APP_CONFIG['signup_url'] %>
</p>
