<h2>Website Privacy Policy</h2>

<p><i>Last Updated August 11, 2010</i></p>

<p><strong>PersonalGenomes.org ("PG.org") operates several websites (the "Websites") including <a href="http://www.personalgenomes.org">http://www.personalgenomes.org</a>. This privacy policy pertains only to visitors of the Websites and does not pertain in any way to our privacy policies related to individuals who are enrolled or applying for enrollment in the Personal Genome Project ("PGP").</strong></p>

<h3>Website Visitors</h3>

<p>Like most website operators, PG.org collects information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. PG.org's purpose in collecting this information is to better understand how PG.org's visitors use its website. From time to time, PG.org may release this information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

<p>PG.org also collects potentially personally-identifying information like Internet Protocol (IP) addresses. PG.org does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>

<h3>Gathering of Personally-Identifying Information</h3>

<p>Certain visitors to the Websites choose to interact with PG.org in ways that require PG.org to gather personally-identifying information. The amount and type of information that PG.org gathers depends on the nature of the interaction. For example, we ask visitors who sign-up for our newsletter to provide an email address and may request additional information like country of residence or zipcode. Those who engage in transactions with PG.org, for example by providing financial donations, may be asked to provide additional information, including as necessary, the personal and financial information required to process those transactions. The Websites contain other pages that collect personally-identifying information of a similar nature. Visitors to the Websites may refuse to supply such personally-identifying information and may leave the Websites at any time.</p>

<h3>Gathering of Personally-Identifying Information by the PGP</h3>
<p>If you are a participant in the PGP, or are considering participating in the PGP, you should carefully review the PGP's participant agreements, including the <a href="https://pgp.med.harvard.edu/participate">informed consent agreements</a> (collectively, the "PGP Documentation"), which set forth the manner in which the PGP will collect and disseminate personally-identifying information and potentially personally-identifying information, including any genetic, health and other information that may become available. If you are not a PGP participant and you have not applied for enrollment in the PGP your use of the Websites will not be impacted by the PGP Documentation. The activities of the PGP are described in and governed by the PGP Documentation and, in the event of a conflict between the PGP Documentation and this Privacy Policy, the PGP Documentation shall control.

</p><h3>Aggregated Statistics</h3>

<p>PG.org may collect statistics about the behavior of visitors to the Websites. PG.org may display this information publicly or provide it to others. However, PG.org does not disclose personally-identifying information other than as described below.</p>

<h3>Protection of Certain Personally-Identifying Information</h3>

<p>PG.org intentionally discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on PG.org's behalf or to provide services available at PG.org's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country and by using PG.org's websites you consent to the transfer of such information to them. PG.org will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, PG.org discloses potentially personally-identifying and personally-identifying information only (i) when required to do so by law (including any judicial proceeding, court order or government inquiry) or to comply with ethical obligations or other professional rules, laws and regulations (including compliance with IRB requests), (ii) when PG.org believes in good faith that disclosure is reasonably necessary to protect the property or rights of PG.org, third parties or the public at large or, (iii) in the case of participants in or applicants to the PGP, as described in the PGP's <a href="https://pgp.med.harvard.edu/participate">informed consent materials</a>.</p>

<h3>Cookies</h3>

<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. PG.org may use cookies to help PG.org identify and track visitors, their usage of PG.org Websites, and their website access preferences. PG.org visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using PG.org's Websites, with the drawback that certain features of PG.org's Websites may not function properly without the aid of cookies.</p>

<h3>Privacy Policy Changes</h3>

<p>PG.org may change this Privacy Policy from time to time, and in PG.org's sole discretion. PG.org encourages visitors to frequently check this page for any changes to this Privacy Policy. In the event that PG.org changes this Privacy Policy it will update the "Last Updated" date at the top of this Privacy Policy. Your continued use of the Websites after such date means that you accept the changed Privacy Policy.</p>

<p>This document is based upon the <a href="https://automattic.com/privacy/">Automattic Privacy Policy</a>, and is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution Share-Alike 2.5</a>. This means that you are free to use and edit it for your own purposes, even commercially, provided you release your new versions under the same license and credit Automattic.
</p>
