<h2>Specimen Collection</h2>

<h3>Overview</h3>

<p>Tissue samples and other specimens submitted to the PGP will be used by the
PGP for a range of research purposes, such as (i) the study of biological
characteristics, including DNA, RNA (gene expression), physical traits,
biochemical traits, and the presence and characteristics of micro-organisms
and viruses in the specimen; (ii) creation of cell lines, which are cells
with the ability to divide for indefinite periods and to give rise to
specialized cells; and (iii) transformation into somatic cell-derived stem
cells (i.e., induced pluripotent stem cells or iPS cells).</p>

<p>Any specimens you provide may be analyzed or otherwise incorporated into the
study. The results may be made publicly available by the PGP via the public
website and database and associated with your previously published data, as
described in the full consent form.</p>

<p>We will be collecting specimens in the following ways:</p>

<ol>
  <li>Self-administered Specimen Collection. You may be sent materials
pertaining to at-home specimen collection. These may include a saliva
collection kit, a hair collection kit, skin swabs and/or other specimen
collection kits that you may self-administer as directed by the PGP. The
PGP will provide specimen collection materials, including instructions and
mailing packages.</li>

<li>Specimen Collection by a Trained Professional. You may be invited to
provide additional tissues or other specimens as approved by the study and
an Institutional Review Board. For example, the PGP may offer you the
ability to have a trained professional come to your home or other convenient
location or you may be asked to visit a designated medical center or other
specimen collection site.</li>
</ol>

<p>The PGP will provide you with additional information about any such specimen
collection opportunity, as soon as possible.</p>
