<h2>PersonalGenomes.org Terms of Service</h2>

<p>Your use of PersonalGenomes.org requires agreement with the formal Terms of Service that are described below.</p>

<p>It's unfortunate that we need to use lengthy legal documents to agree on some fair terms, but it's important we do so, for both your protection and ours.</p>

<p>We'll try to describe briefly the spirit in which our Terms of Service has been created. Consistent with our mission we believe that the development of personal genomics technologies and practices is best served by soliciting input and promoting openness and collaboration between individuals, research communities, industry, public bodies and other stakeholders interested in developing the future of personal genomics. We view this website, personalgenomes.org, as part of the core framework for pursuing that mission, and we hope that you do as well.</p>

<p>In developing and maintaining personalgenomes.org, including incorporating research data from the Global Network of Personal Genome Projects and other public genomics efforts, we strive to be fair, open, and respectful of the community. We're also looking to protect ourselves from harm so we can continue making personalgenomes.org available to the entire world.</p>

<p>The major points of our Terms of Service are summarized for you here. However only the actual Terms of Service provided below the summary is binding upon you and PersonalGenomes.org.</p>

<p>Also note that PersonalGenomes.org is charitable organization based in the United States.  Some sites in the Global Network of Personal Genome Projects also operate their own websites and have their own privacy policies and terms of service.  For example, the Personal Genome Project United Kingdom is based out of the University College London and operates <a href="https://my.personalgenomes.org.uk/">separate websites for participants enrolled in that study</a>.  As of this writing, they have adopted the <a href="https://www.ucl.ac.uk/informationsecurity/">University College London’s Privacy Policy and Terms of Use</a>.</p>

<h3>Terms of Service summary</h3>

<ol>
  <li>
    <p>We have a <a href="/pages/privacy_policy">Privacy Policy</a>; please read it.</p>
  </li>

  <li>
    <p>You may need to register in order to use some features of personalgenomes.org. Please use the site responsibly by protecting your account information, furthering the mission of PersonalGenomes.org and not using PersonalGenomes.org to do anything illegal. You must be at least 13 years of age or older to use PersonalGenomes.org</p>
  </li>

  <li>
    <p>If you choose to upload any content you will need to give us some rights in your content so the service can function as intended, such as storing, backing up and, where appropriate, making that content publicly available.  You also need to agree that you won't upload anything that you shouldn't, either because it's illegal or inaccurate, or both.</p>
  </li>

  <li>
    <p>We aren't responsible for websites we link to. We don't control what data they provide or the uses they will make of any data you submit.</p>
  </li>

  <li>
    <p>We provide most of our content to you on our sites under a license that permits you to copy and use that content with minimal restrictions (Creative Commons Attribution 3.0 Unported license). Research data is made available using the Creative Commons CC0 1.0 Universal waiver. Different rules may apply to third party content.</p>
  </li>

  <li>
    <p>We respond to DMCA copyright-related takedown requests. We will work to ensure your rights as well as filers.</p>
  </li>

  <li>
    <p>One of the primary purposes of personalgenomes.org is to serve as a public repository for genomics research data, including data from the Global Network of Personal Genome Projects. We make that data freely available to you for just about any lawful purpose. All that we ask in return is that you acknowledge that the data we provide is not going to be perfect. YOU MUST NEVER USE ANYTHING ON OUR WEBSITE, INCLUDING ANY OF THE RESEARCH DATA, AS THE BASIS FOR THE DIAGNOSIS OR TREATMENT OF ANY DISEASE OR MEDICAL CONDITION OR FOR ANY OTHER MEDICAL DECISION ABOUT YOURSELF OR SOMEBODY ELSE, OR AS A SUBSTITUTE FOR THE SERVICES PROVIDED BY YOUR DOCTOR.</p>
    <p>Again, just so we're clear, if for any reason you are going to make a medical or healthcare decision, go see your doctor. In fact, it's so important to us that you understand that PersonalGenomes.org, this website, and all of the public genomics projects that contribute data to PersonalGenomes.org, including the Global Network of Personal Genome Projects, are conducting scientific research, and not providing you with any form of medical or healthcare service, that we will probably ask you to acknowledge it in a couple of different places.</p>
  </li>

  <li>
    <p>All of the services and content of personalgenomes.org are provided with no warranty. You aren't paying us anything for using personalgenomes.org, including all of the data that we make available there, so it's unreasonable for you to expect money back if a service isn't perfect or the data isn't accurate.</p>
  </li>

  <li>
    <p>All of the services and content of personalgenomes.org are provided with no liability. You aren't paying us anything for using the website, including all of the data that we make available there, so even if you start to really rely on the data or tools or anything else on the website, it's unreasonable for you to expect money back if there's a server failure, security problem, the data turns out to be inaccurate, or anything else goes wrong.</p>
  </li>

  <li>
    <p>We want to hear about any problems you have using personalgenomes.org so that we can improve the website, including the services and data that we provide through the website, but if you lose money, time, or anything else while using our services or data, your only remedy is to stop using them.</p>
  </li>

  <li>
    <p>If you decide to register on personalgenomes.org, we can terminate your account if we think it's necessary.</p>
  </li>

  <li>
    <p>If a court fines us because you did something stupid on personalgenomes.org or as a result of the way in which you use the data or services we provide there, you should cover our fines and legal fees.</p>
  </li>

  <li>
    <p>If we have a dispute, the law of North Carolina will control.  Also, if any part of this agreement doesn't stand up in court, the rest of it is still valid.</p>
  </li>

  <li>
    <p>We can change the terms as needed.</p>
  </li>
</ol>

<hr>

<h3>PersonalGenomes.org Terms of Service</h3>
<p><b>Last Updated April 19, 2019</b></p>

<p>Welcome to PersonalGenomes.org, an online service offered by PersonalGenomes.org, a North Carolina nonprofit corporation (<u>"PG.org"</u>, or "us", "we" or "our").  Our Terms of Service govern your use of the PG.org websites (the <u>"Websites"</u>), all Public Genomics Research Data, or PGRD (defined below), all User Data (defined below) and all of the other tools, data and services that we provide through the Websites (collectively and including the Websites and all PGRD and User Data, the <u>"Service"</u>).</p>

<p><b>By accessing or using the Websites or the Service you agree to be bound by the following terms and conditions (the <u>"Terms of Service"</u> or this <u>"Agreement"</u>), and you affirm that you are at least 13 years of age.</b></p>

<p>1.	<u>Privacy Policy</u></p>
<p>For information on how PG.org handles information which you may provide during your use of the Service, including information that you may submit if you choose to register on personalgenomes.org, please review our privacy policy  (<u>"Privacy Policy"</u>), which is incorporated into and subject to these Terms of Service.</p>

<p>2.	<u>Use of Service</u></p>
<p><b>General Use.</b>  PG.org grants you permission to use the Service provided that you comply with the terms and conditions of this Agreement.  PG.org may withdraw its permission at will.</p>

<p><b>Registration.</b>  In order to access some features of the Service you may need to create an account, verify your identity and other personal information, and separately agree to these Terms of Service.  Any personally identifiable information you provide during the registration process or otherwise will be used in accordance with our Privacy Policy.</p>

<p><b>Eligibility.</b>  In order to use the Service, you must be at least 13 years of age.  By accepting these Terms of Service, you confirm that you meet this eligibility requirement.</p>

<p><b>Protecting Your Password and URLs.</b>  Please protect the confidentiality of your password, as you are responsible for all activities that occur under your user name and password.  You agree that you will immediately notify us of any unauthorized use of your account or password.  Certain aspects of the Service may allow you to upload information to the Websites for use by us and by other users of the Service.  You are solely responsible for controlling the content of such information, including in the event of any third party's access to your account and contribution or modification of such information.</p>

<p><b>Prohibited Uses.</b>  The Service is provided as a free benefit and is intended to provide a valuable and useful tool for promoting openness and collaboration between individuals, research communities, industry, public bodies and other stakeholders interested in developing the future of personal genomics technologies and practices.  It is not intended for any illegal or other inappropriate uses, and you agree to use the Service only in a manner that is consistent with the mission of PG.org.  Among other things, this means that you agree not to use the Service to:</p>

<p>(a)	commit any crime or further any illegal or dishonest purpose or perform or further any activity prohibited by this Agreement;</p>

<p>(b)	modify another website so as to falsely imply that it is associated with either PG.org or any of the public genomics projects that contribute data to PG.org, including the Personal Genome Project;</p>

<p>(c)	interfere with any other individual's use or enjoyment of the Service;</p>

<p>(d)	offer or purport to offer health or medical advice or otherwise attempt to use any aspect of the Service in the diagnosis or treatment of any disease or other condition, either for yourself or for any third party;</p>

<p>(e)	obtain information about an insured person or employee on behalf of or for the benefit of such individual's insurer or employer;</p>

<p>(f)	create or submit unwanted email, comments or other postings or information through the Service, otherwise known as "Spam";</p>

<p>(g)	transmit any worms or viruses or any code of a destructive or disruptive nature through the Service; or</p>

<p>(h)	upload, email, or otherwise make available on the Service any content that infringes upon any proprietary rights of a third party, such as copyrights or privacy or publicity rights, or that is otherwise illegal, harmful, abusive or otherwise objectionable.</p>

<p>Because we have the right to terminate your account at will, your violation of any of <b>subsections</b> above, or any other conduct that is inconsistent with the mission of PG.org, may result in the immediate termination of your account upon discovery and may result in PG.org taking legal action against you.</p>

<p>3.	<u>User Content</u></p>
<p>The Service allows you to post, transmit, or upload various types of information and content, including but not limited to Personal Data (which is defined below) (collectively, <u>"User Content"</u>).  You represent and warrant to us that you either own such User Content or that you have written permission to use such User Content on our Service.  You agree not to post content that violates another person's legal rights of any kind, including but not limited to contractual, privacy, or Intellectual Property Rights (as defined below).  You further agree not to post any content that is unlawful, fraudulent, threatening, libelous, defamatory, racist, hateful, harassing, obscene, or otherwise objectionable.</p>

<p>The development and understanding of personal genomics depends in large part on information supplied by participants and collaborators of public genomics research projects, including the Global Network of Personal Genome Projects.  Some of these public genomics research projects, including the Harvard Personal Genome Project, Personal Genome Project United Kingdom, and the Canadian Personal Genome Project, among others, collaborate and cooperate with PG.org as part of their approved research protocols, including using PG.org to help collect Public Genomics Research Data, or PGRD (defined below).  In the course of using the Service you may have the opportunity to contribute or disclose genetic, medical, environmental, trait, family history or other data or information (collectively, <u>"Personal Data"</u>) that may become incorporated into PGRD, and you agree that you will not intentionally post or transmit false, misleading or inaccurate Personal Data about yourself or any third persons, including your immediate relatives.  You further agree that if you discover that any Personal Data previously disclosed or contributed to PG.org is false, misleading or inaccurate, you will take reasonable steps to correct such information.</p>

<p>While PG.org makes no claim of ownership with respect to your User Content, by providing such content you grant to PG.org a perpetual, royalty-free, non-exclusive and irrevocable license to use, license, distribute, copy, modify, create derivative works of and display such content as is reasonably required by PG.org to provide the Service.  In particular, with respect to any Personal Data that you may provide to PG.org, you agree that PG.org will have the right to make all such Personal Data available through the Service, and to extend rights in such Personal Data to other users, in the same manner in which other PGRD is made available by PG.org (currently this is under through the Creative Commons CC0 1.0 Universal license, although this may change over time).</p>

<p>You will not receive compensation for any research or commercial products that include or result from any Personal Data that you provide.</p>

<p>PG.org reserves the right to remove any content you provide, including any User Content and any Personal Data, and to terminate any accounts containing content which we determine in our sole discretion (i) is unlawful, fraudulent, threatening, libelous, defamatory, racist, hateful, harassing, obscene, or otherwise objectionable, (ii) violates any party's Intellectual Property Rights or these Terms of Service, (iii) is false, misleading or inaccurate or (iv) is not in keeping with the purpose and intended community benefit of the Service or with the mission of PG.org.</p>

<p>4.	<u>Third Party Content</u></p>
<p>The Service may contain content, applications or other information provided by third parties or links to third party websites that are not owned or controlled by PG.org (<u>"Third Party Content"</u>).  PG.org has no control over, and assumes no responsibility for, such Third Party Content, including, without limitation, the accuracy or quality of any Third Party Content.  You agree that PG.org has no liability of any nature arising from your use of any Third Party Content.</p>

<p>Any data that you provide on a third party website is subject to its privacy policies and practices, which we do not control.</p>

<p>Be aware that some sites in the Global Network of Personal Genome Projects may operate their own websites and have their own privacy policies, terms of service and practices.  For example, the Personal Genome Project United Kingdom is based out of the University College London and <a href="https://my.personalgenomes.org.uk/">operates a website for participants enrolled in that study</a>.  That website uses a different privacy policy and terms of service than PG.org, which is clearly indicated in the footer of their website.  As of this writing, they have adopted the <a href="https://www.ucl.ac.uk/informationsecurity/">University College London’s Privacy Policy and Terms of Use</a>.</p>

<p>5.	<u>PG.org Content</u></p>
<p>(a)	<em>General Content</em>.  The content available on the Service, other than Personal Data, User Content, Third Party Content, and all related Intellectual Property Rights, is the exclusive property of PG.org and, where applicable, its licensors.  Except where otherwise noted, User Content is licensed to you under the Creative Commons Attribution 3.0 Unported license and Personal Data is licensed to you under the Creative Commons CC0 1.0 Universal license.  Different licenses, rules and restrictions may apply to Third Party Content.</p>

<p>(b)	<em>PG.org Link</em>.  You may use the PG.org corporate logo and trademark (in exactly the style and form shown at the top of this page) on your website to link users to the PG.org homepage, http://www.personalgenomes.org/.  You are not licensed to make any other use whatsoever of any PG.org mark or logo.  You agree that you will not place the link on any web site or in proximity to any material that would tarnish, blur, dilute, diminish or weaken the PG.org marks or logo.  PG.org retains the right to terminate this license, in its sole discretion, for any reason whatsoever or for no specified reason.  Except as otherwise specifically described herein, PersonalGenomes.org and its Affiliated Parties retain full right and title to all of their Intellectual Property Rights.</p>

<p>(c)	<em>Additional Software</em>.  Any software or other application that is downloadable, or that is otherwise made available as part of the Service subject to your agreement to additional terms and conditions will be licensed to you separately.  You must agree to additional  terms and conditions before you will be permitted to download.</p>

<p>For the purposes of this Agreement, <u>"Intellectual Property Rights"</u> means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</p>

<p>6.	<u>Digital Millennium Copyright Act</u></p>

<p>If you are a copyright owner or an agent thereof and believe that any User Content or other content contained in the Service or available on the Websites infringes upon your copyright, you may submit a written notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C. 512(c)(3) for further information) by providing our Copyright Agent (listed below) with the following information: (i) an electronic or physical signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (ii) a description of the copyrighted work claimed to have been infringed or if multiple copyrighted works are covered by a notification, a representative list of such works appearing on the Websites; (iii) a description of the location on the Websites of the allegedly infringing material(s); (iv) your address, telephone number, and email address; (v) a written statement that you have a good faith belief that use of the material(s) in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a written statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. </p>

<p>If any User Content or other information that you submitted has been removed as a result of a notification as described above and you believe that such User Content or other information was posted lawfully, please contact us about our counter-notification procedure through which you can dispute the allegation and request re-posting of the User Content or other content at issue.</p>

<p>PG.org's designated Copyright Agent for notice of claims of infringement is: </p>

<p>PersonalGenomes.org<br> 
email: support@pgp-hms.org</p>

<p>Only notices of alleged copyright infringement and requests about the counter-notification procedures should go to the Copyright Agent; any other feedback, comments, requests for technical support and other communications should be directed to PersonalGenomes.org at general@personalgenomes.org. You acknowledge that if you fail to comply with all of the notice requirements of the Digital Millennium Copyright Act your notice may not be valid.</p>

<p>7.	<u>Use of PGRD; No Health or Medical Care</u></p>

<p>Certain aspects of the Service contain DNA sequence data (<u>"Sequence Data"</u>), interpretations and presentations of that data, including summaries and interpretations of individuals' Sequence Data known as <u>"Preliminary Research Reports,"</u> and certain other information, resources, presentations, interpretations, software, tools and applications related to Sequence Data, Preliminary Research Reports and/or other data or information supplied by public genomics research projects, including the Global Network of Personal Genome Projects and other efforts, or directly by individual users of the Service (collectively, <u>"Public Genomics Research Data"</u> or <u>"PGRD"</u>).</p>

<p>BY USING THE SERVICE YOU UNDERSTAND AND AGREE TO THE FOLLOWING:</p>

<p><b>No Guarantee of Accuracy.</b>  PG.org cannot guarantee the accuracy of any data or information, including any research, contained in or comprising the PGRD.  Certain PGRD may be modified from time to time by, for example, the contributing public genomics research project or by PG.org to reflect new data or developments.  Some PGRD may be based on User Content and could be inaccurate if such User Content is inaccurate.  There is a risk that PGRD could be modified without our consent, for instance due to unauthorized hacking or other security breaches on the part of third parties.  Neither the accuracy nor the completeness of any PGRD is warranted and PG.org is not responsible for the content of any PGRD.</p>

<p><b>PG.ORG DOES NOT PROVIDE MEDICAL ADVICE.</b>  No aspect of the Service or of any PGRD is intended to provide you or any third party with medical or clinical advice, or to serve as a replacement or substitute for any medical or clinical test, diagnosis, treatment or other related activity.  Neither PG.org, the Service nor any PGRD represents a form of health or medical care, and you should always consult a licensed healthcare professional before making any decision related to your health or medical care.  You should not ignore medical advice from your doctor or other healthcare provider on the basis of any information provided or not provided by PG.org or contained or not contained in any PGRD, nor should you interpret any aspect of the Service or any PGRD as recommending or discouraging any particular medical action.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT THE INFORMATION AND SERVICES PROVIDED BY PG.ORG, INCLUDING ANY PGRD, DO NOT CONSTITUTE HEALTH OR MEDICAL ADVICE OR CARE AND MAY NOT BE USED AS THE BASIS FOR MAKING A DECISION ABOUT THE HEALTH OR MEDICAL CARE OF YOURSELF OR ANY THIRD PERSON.  IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR HEALTHCARE PROVIDER OR 911 IMMEDIATELY.</p>

<p><b>How You Can Use PGRD.</b>  PGRD is intended to be used only for purposes consistent with the mission of PG.org.  The Service, including any PGRD, may be used by you in the same way that you would use any other publicly available non-medical information.  You are free to discuss any such information with your healthcare provider.  RELIANCE ON ANY INFORMATION PROVIDED BY PG.ORG OR BY ANY THIRD PERSON, INCLUDING ANY PGRD, IS SOLELY AT YOUR OWN RISK.</p>

<p>8.	<u>No Warranty</u></p>
<p>The Service is provided "AS-IS" without warranty of any kind.  PG.ORG SPECIFICALLY DISCLAIMS TO THE FULLEST EXTENT ALLOWED BY LAW ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THE ABSENCE OR PRESENCE OF LATENT OR OTHER DEFECTS OR ERRORS.  Some jurisdictions do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.</p>

<p>9.	<u>Limitation of Liability</u></p>
<p>IN NO EVENT WILL PG.ORG OR ANY OF ITS EMPLOYEES, DIRECTORS, OFFICERS, AGENTS, CONSULTANTS, STAFF, AFFILIATES (INCLUDING THE EMPLOYEES, DIRECTORS, OFFICERS, AGENTS, CONSULTANTS AND STAFF OF ANY AFFILIATE), PARENTS, SUBSIDIARIES, COLLABORATORS, PARTNERS OR LICENSORS (COLLECTIVELY THE <u>"AFFILIATED PARTIES"</u>), BE LIABLE TO YOU FOR ANY DAMAGES OF ANY KIND ARISING FROM THE PROVISION OR FAILURE TO PROVIDE THE SERVICE OR OTHERWISE RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT, INCLUDING, WITHOUT LIMITATION, ANY DIRECT, SPECIAL, PUNITIVE, EXEMPLARY, CONSEQUENTIAL OR OTHER INDIRECT DAMAGES OF ANY KIND, WHETHER ANY SUCH CLAIM FOR DAMAGES IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF PG.ORG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  Certain states and/or jurisdictions may not allow the exclusion or limitation of liability for incidental or consequential damages, so the exclusions set forth above may not apply to you.</p>

<p>10.	<u>Sole Remedy</u></p>

<p>In any event, your sole and exclusive remedy for any liability relating to or arising out of the Service or these Terms of Service, regardless of the form in which any legal or equitable action may be brought, shall be for you to discontinue your use of the Service.  If you have an account with PG.org and it is terminated, or if you choose to voluntarily close your PG.org account, PG.org has no obligation to maintain, store or transfer to you any User Content, Personal Data, PGRD or other information that you have posted or uploaded through your use of the Service or otherwise.</p>

<p>11.	<u>Termination</u></p>
<p>You acknowledge and agree that we may, without notice and for any reason, including but not limited to any violation of these Terms of Service, terminate or suspend your account and your access to the Service or any of our other services.</p>

<p>12.	<u>Indemnification</u></p>

<p>You agree to indemnify and hold PG.org and all of the Affiliated Parties harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of the Service, any content you submit or otherwise make available through the Service, or your violation of these Terms of Service or of any rights of a third party, including any third party Intellectual Property Rights.</p>

<p>13.	<u>General</u></p>

<p><b>Governing Law.</b>  These Terms of Service shall be governed by the internal substantive laws of the State of North Carolina, without respect to its conflict of laws principles.</p>

<p><b>International Users.</b>  PG.org makes no claims that the Service or information included as part of the Service is appropriate or may be downloaded outside of the United States.  As described above, Personal Data, PGRD and other information that you submit will be handled in accordance with this Agreement and applicable United States law.  If you or such information are not governed by United States law you acknowledge and agree that PG.org may collect, store and use such information and disclose it to other entities outside your resident jurisdiction in any manner consistent with this Agreement.  United States law may not provide the degree of protection for such information that is available in other countries, including your own.  By providing us with any such information, including Personal Data, PGRD or User Content, you acknowledge that you consent to the transfer of such information or content outside your resident jurisdiction as detailed in this Agreement.  If you do not so consent you may not use this Service.</p>

<p><b>Waiver.</b>  The failure of PG.org to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision.</p>

<p><b>Entire Agreement/Severability.</b>  These Terms of Service constitute the entire agreement between you and PG.org with respect to the subject matter hereof and supersede any prior agreement between you and PG.org.  In the event that any provision of these Terms of Service is held by a court to be unenforceable, the remaining provisions will continue in full force and effect.</p>

<p>14.	<u>Changes to these Terms of Service</u></p>

<p>We may modify these Terms of Service prospectively at any time and for any reason, including to reflect changes in the Service or changes to the law, so please review them periodically so that you are aware of any such modification.  You acknowledge and agree that if you use the Service after the date on which these Terms of Service has changed, PG.org will treat your use as acceptance of the updated Terms of Service.</p>

<p style="margin-bottom:40px;">We reserve the right to modify or terminate the Service or any other service provided by PG.org, or any user account for any reason, at any time and without notice.</p>


