<h2>Submission Eligibility Screening</h2>

<p>
  You may now submit the results of your Eligibility Screening and your information will be
  transmitted to the PGP.  Upon submission, you will be notified that
  you are either: (1) eligible to continue, (2) waitlisted, or (3) rejected.

  If you choose not to submit the results of your Eligibility Screening no
  determination will be made by PGP about your eligibility status and your
  participation in this Eligibility Screening will be terminated.  You may also delete
  your account at any time via the "Account" link above.  You may choose to
  participate in Eligibility Screening again at a later date.
</p>

<%= form_for :consent_review do |f| %>
  <%= f.submit 'Submit Eligibility Screening' %>
<% end %>


