<h2>Public genetic data</h2>

<%= form_tag(public_genetic_data_path, :method => 'get') do |f| -%>
<%= select_tag :data_type, options_for_select(@data_type_options, params[:data_type]) %>
<%= submit_tag 'Search' %>
<% end %>

<div style="height: 1em"></div>

<%= render_cell :public_genetic_data, :list, :datasets => @datasets, :show_participant_column => true, :show_date_published_column => true, :show_admin_column => true, :current_user => current_user %>
