<h2>Logged in user portal</h2>

<p>Welcome, <%=h current_user.name %>!</p>

<ol id="enrollment_steps">
  <% @steps.each do |step| -%>
    <% if @completed_steps.include? step -%>
      <li><%= link_to step.title, 'b' %></li>
    <% else -%>
      <li><%= step.title %> <span>(not completed)</span></li>
    <% end -%>
  <% end -%>
</ol>
