<p class="intro">
  The Personal Genome Project is an open-ended research study that aims
  to improve our understanding of genetic and environmental contributions to
  human traits.

  In the second half of 2008, we will begin to enroll members of the public
  who are willing to share their genome sequence and other personal
  information with the scientific community and the general public.
</p>

<p>
  You can:
  <ul>
    <li>
      <strong>Find out more</strong> at the <a href="http://www.personalgenomes.org/participate.html">Personal Genome Project participation page</a>.
    </li>
    <li>
      <strong>Begin the enrollment process</strong> by <%= link_to 'completing the informed consent to take the entrance exam', signup_url %>.
    </li>
  </ul>
</p>
