<h2>Home</h2>

<% if current_user -%>
  <p>Welcome, <%=h current_user.name %>!</p>
<% end -%>

<ol id="enrollment_steps">
  <% each_step_with_completion do |step, completion| -%>
    <li>
    <% if step == @next_step -%>
      <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
    <% else -%>
      <%= step.title %> <span>(not completed)</span>
    <% end -%>
    </li>
  <% end -%>
</ol>

