<!--
<div class="submenu">
<ul>
	<li><a href="participate.html">Participation overview</a></li>
	<li><a href="howitworks.html">How it works</a></li>
	<li><a href="whyparticipate.html">Why participate?</a></li>

	<li><a href="considerations.html">Considerations</a></li>
	<li><a href="_benefits.html">Benefits</a></li>
	<li><a href="_risks.html">Risks</a></li>
	<li><a href="_privacy.html">Privacy</a></li>
	<li><a href="register.html">Register</a></li>
</ul>
</div>
-->



<h2>Participation Overview</h2>

<p>The Personal Genome Project is an open-ended research study that aims to improve our understanding of genetic and environmental contributions to human traits.  In the second half of 2008, we will begin to enroll members of the public who are willing to share their genome sequence and other personal information with the scientific community and the general public.</p>

<p>We are in the process of developing educational tools and resources, so that we can maximize the number of volunteers able to participate in the project on an informed basis.  The information on this site is a preview of the PGP study and is subject to change.  The articles provided are a preliminary attempt to describe how participation in the PGP works and to outline important topics for volunteers to consider, such as benefits, risks, and privacy.
</p>


<p>&nbsp; </p>
<div class="clear"><!-- --></div>
	
</div>

    <div class="sidebar">
        <div class="bubble">

<h2>Project News</h2>

            <div class="text">

<p><strong>April 15, 2008</strong>: IRB approval obtained from Harvard Medical School to scale project from ten volunteers to 100,000.<br /><br />New participant <a href="participate.html">enrollment</a> will open in 2008.  Read about our first ten <a href="pgp10.html">volunteers</a>.<br /><br />Read <a href="news.html">news articles</a> about the Personal Genome Project from PGP staff, participants, and the international press.<br /><br /></p>

            </div>
        </div>


