<h2>Collection events</h2>
<%= button_to 'Create collection event', new_collection_event_path, :class => 'btn btn-primary pull-right', :style => 'margin-right: 2em', :method => :get %>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all collection events by any researcher.</p>
<% else %>
<p>This is the list of your collection events, as well as any collection events another researcher has granted you rights to.</p>
<% end %>

<% if @studies.count > 0 %>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @studies, :type => 'all', :who => 'researcher' } %>
<% end %>

