<h2>Third party studies</h2>

<p>The following studies are <b>not</b> conducted by or supervised by
the Personal Genome Project.  You can read about each study here, then
decide whether to carry on to their independent web sites.</p>

<ul>
  <% @studies.each do |study| %>
  <li><%= link_to study.name, third_party_path(study) %> (<%= study.researcher.full_name %>, <%= study.researcher.researcher_affiliation %>)</li>
  <% end %>
</ul>
