<h2>Studies</h2>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all studies by any researcher.</p>
<% else %>
<p>This is the list of your studies.</p>
<% end %>

<% if @studies.count > 0 %>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @studies, :type => 'all', :who => 'researcher' } %>
<% end %>

