<h2>Collection event details</h2>

    <strong>Name</strong><br />
    <p><%= @study.name %></p>
    <strong>Description</strong><br />
    <%= raw RedCloth.new(@study.participant_description).to_html %>
    <strong>Researcher</strong><br />
    <p><%= @study.researcher.full_name %></p>
    <strong>IRB Researcher</strong><br />
    <p><%= @study.irb_associate.full_name %></p>

