<h2>Study details</h2>

    <strong>Name</strong><br />
    <p><%= @study.name %></p>
    <strong>Description</strong><br />
    <p><pre><%= @study.participant_description %></pre></p>
    <strong>Researcher</strong><br />
    <p><%= @study.researcher.full_name %></p>
    <strong>IRB Researcher</strong><br />
    <p><%= @study.irb_associate.full_name %></p>

