<h2>Trait Collection</h2>

<p>Upload your personal health record as a Continuity of Care Record (CCR) file.</p>
<p>
  You can submit any valid CCR file, such as that provided by
  <a href="https://www.google.com/health">Google Health</a>.
</p>

<% form_for :trait_collection, :html => { :multipart => true } do |f| %>
  <input id="phr" name="phr" size="30" type="file" /> <br/>
  <%= f.submit 'Upload' %>
<% end %>
