Tapestry::Application.configure do
  # Settings specified here will take precedence over those in config/application.rb

  # The production environment is meant for finished, "live" apps.
  # Code is not reloaded between requests
  config.cache_classes = true

  # Full error reports are disabled and caching is turned on
  config.consider_all_requests_local       = false
  config.action_controller.perform_caching = true

  # Specifies the header that your server uses for sending files
  config.action_dispatch.x_sendfile_header = "X-Sendfile"

  # For nginx:
  # config.action_dispatch.x_sendfile_header = 'X-Accel-Redirect'

  # If you have no front-end server that supports something like X-Sendfile,
  # just comment this out and Rails will serve the files

  # See everything in the log (default is :info)
  # config.log_level = :debug

  # Use a different logger for distributed setups
  # config.logger = SyslogLogger.new

  # Use a different cache store in production
  # config.cache_store = :mem_cache_store

  # Disable Rails's static asset server
  # In production, Apache or nginx will already do this
  config.serve_static_assets = false

  # Enable serving of images, stylesheets, and javascripts from an asset server
  # config.action_controller.asset_host = "http://assets.example.com"

  # Disable delivery errors, bad email addresses will be ignored
  # config.action_mailer.raise_delivery_errors = false

  # Enable threaded mode
  # config.threadsafe!

  # Enable locale fallbacks for I18n (makes lookups for any locale fall back to
  # the I18n.default_locale when a translation can not be found)
  config.i18n.fallbacks = true

  # Send deprecation notices to registered listeners
  config.active_support.deprecation = :notify

  ActionMailer::Base.smtp_settings = {
    :domain => "example.com",
    :address => 'outgoing.example.com'
  }
  
  ROOT_URL = 'tapestry.example.com'
  ADMIN_EMAIL = 'This Should Be You <you@example.com>'
  WITHDRAWAL_NOTIFICATION_EMAIL = 'This Should Be You <you@example.com>'
  SYSTEM_EMAIL = 'sysadmin@example.com'

  ENV['RECAPTCHA_PUBLIC_KEY'] = 'YOUR_RECAPTCHA_PUBLIC_KEY'
  ENV['RECAPTCHA_PRIVATE_KEY'] = 'YOUR_RECAPTCHA_PRIVATE_KEY'
  
  GOOGLE_HEALTH_URL = "https://www.google.com/health"
  
  LATEST_CONSENT_VERSION = 'v20110912'
  
  DRB_SERVER = '127.0.0.1'
  DRB_PORT = '9900'
  DRB_CALLBACK_SOURCE_IP = '127.0.0.1'
  
  TRAITWISE_LOGIN = "you@example.com"
  TRAITWISE_PASSWORD = "your_traitwise_password"

end
