<h2>Important note about Google Health</h2>

<div class="tip">
<p>Google will be discontinuing the Google Health service on January 1st,
2012. Therefore, the PGP's integration with Google Health will be
discontinued at that time.</p>
<p>Here are some things you can do:</p>
<p>(1) If you have not created a Google Health account and linked it to your
PGP public profile, we do not have health record data for you. Health
record data is not necessary for participation, but it is a valuable asset
for research and guides us in prioritizing participants for study. We hope
to transition to another system in the future, but this is unlikely to be
immediately available. You may wish to take advantage of Google Health
before it closes to import records to the PGP. To do this, create a Google
Health account and populate it with health information you wish to share,
then link your account to the PGP. Instructions for creating and linking
your account are below.</p>

<p>If you link your Google Health account, the data will be added to your PGP
profile and become publicly available. To see what this looks like in
practice, see this participant's profile page:</p>

<a href="https://my.personalgenomes.org/profile/hu43860C">https://my.personalgenomes.org/profile/hu43860C</a>

<p>(2) If you have a Google Health account and you already have linked it with
your PGP public profile, after January 1, 2012 you will no longer be able
to update this information using Google Health. However, any data you have
already added to your PGP profile will remain in your PGP profile after
January 1, 2012 unless you choose to remove it.</p>

<p>(3) If you already have a Google Health account and you want to transfer
your health data to another service that will allow you store and update
the data, Google has provided detailed instructions for making the transfer
to Microsoft HealthVault:</p>

<a href="http://support.google.com/health/bin/answer.py?hl=en&answer=1347995">http://support.google.com/health/bin/answer.py?hl=en&answer=1347995</a>

<p>While the PGP is not currently integrated with Microsoft HealthVault, we
are investigating that possibility. Regardless, transferring your data to
another service like Microsoft HealthVault may be especially useful for
participants who invested a lot of time and energy to organize an extensive
Personal Health Record. Several participants have written-in to say that
the transfer to Microsoft HealthVault was straightforward.</p>

<p>(4) If you have already created a Google Health account and you want to
better understand the discontinuation of service, you may want to review
the FAQ provided by Google:</p>

<a href="http://www.google.com/intl/en_us/health/faq.html">http://www.google.com/intl/en_us/health/faq.html</a>

</div>

