
<% if @ccr %>
<h2>Imported Personal Health Record</h2> 

<p>This is a PHR imported from Google Health. This information is part of your PGP public profile. If you wish to remove this PHR from 
<%= link_to "your PGP public profile", url_for(:controller => 'profiles', :action => 'public', :hex => current_user.hex) %>, you may
do so on the <%= link_to "PHR overview page", url_for(:controller => 'phrccr') %>.
</p>
 
<%= render :partial => "ccr" %>
<% else %>
<h2>Import Personal Health Record</h2> 
<p>
Your Google Health account has been linked, but you have not imported any PHRs into PGP public profile. Click "Refresh PHR" to download the latest version of your PHR from Google Health.</p>
<% end %>

