<style type="text/css">
.tip { padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 2px solid #CCCC00; background: #FFFFCC; }
</style>

<h2>Personal Health Record</h2>

<h3>(1) Google Health</h3>

<p>Google discontinued the Google Health service on January 1st, 2012.</p>

<p>If you linked your Google Health account to your PGP public profile prior to January 1st 2012, then we may have CCR-formatted medical data about you.</p>

<% if @ccr_history.length > 0 %>
<h3>Your Google Health Records:</h3>
<table class="admin_table">
<tr>
  <th>Review</th>
  <th>Date Updated</th>
  <th>Download</th>
  <th>Delete</th>
</tr>
<% @ccr_history.each { |ccr| %>
<tr>
  <td><a href="/phrccr/review?version=<%= ccr.version %>">Review</a></td>
  <td><%= ccr.version.gsub(/T.*$/,'') %></td>
  <td><a href="/phrccr/download?id=<%= ccr.id %>">download raw CCR</a></td>
  <td><button name="deleteccr" value="<%= ccr.version %>">Delete</button></td></tr>
<% } %>
</table>
<% end %>

<p>You will no longer be able to update this information using Google Health. However, any Google Health data you already added to your PGP profile will remain in your PGP profile unless you choose to remove it.</p>

<p>If you want to download your health data above and move it to another service that will allow you store and update the data, Google has provided detailed instructions:</p>

<a href="http://support.google.com/health/bin/answer.py?hl=en&answer=1375585">http://support.google.com/health/bin/answer.py?hl=en&answer=1375585</a>

<h3>(2) Other Personal Health Record Platforms</h3>

<p>We are looking into integrating with other Personal Health Record platforms.</p>


