<style type="text/css">
.tip { padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 2px solid #CCCC00; background: #FFFFCC; }
</style>

<h2>Personal Health Record</h2>

<p>We believe that PGP participants will benefit over the long-term if select personal health information is managed through a standardized Personal Health Record (PHR).  The Personal Genome Project has selected Google Health as our preferred PHR provider.</p>

<h3>(1) Create a Google Health account:</h3>

<p>To create a Google Health account, please visit <a href="<%= health_url %>">Google Health</a>. For detailed instructions on how to create a Google Health account, please see: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=93491">Getting Started Guide</a>."</p>

<div class="tip"><strong>TIP:</strong> It is simplest if you create your Google Health account in a new browser window.</div>

<h3>(2) Populate your Google Health Profile</h3>

After you create a Google Health account, please complete the following sections of your profile while being as specific and thorough as possible:

<ol>
<li>Age, sex, height... (Be sure to also complete race/ethnicity, weight, and blood type)</li>
<li>Conditions</li>
<li>Medications</li>
<li>Allergies</li>
<li>Procedures</li>
<li>Test Results</li>
<li>Immunizations</li>
</ol>

<p>The other sections of the PHR are optional, but encouraged.</p>

<%= form_tag(phrccr_path) %>

<h3>(3) Link your profile</h3>
<p>
After you have completed your Google Health profile, return to this page. Click on the "Link Profile" button and your Google Health data will be imported into your PGP public profile. Please review the accuracy of your imported data. Use Google Health to modify or add data to your PHR. Chnges will be automatically imprted into your PGP public profile.
</p>

<% if !current_user.authsub_token.blank? %>
<p>Your profile has been linked. You can unlink at any time if you do not wish to continue participating in this research.</p>
<p> <%= submit_tag 'Unlink Profile' %></p>
<% else %>
<p> <%= submit_tag 'Link Profile'  %></p>
<% end %>

</form>
