<style type="text/css">
.tip { padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 2px solid #CCCC00; background: #FFFFCC; }
</style>

<h2>Personal Health Record</h2>

<p>We believe that PGP participants will benefit over the long-term if select personal health information is managed through a standardized Personal Health Record (PHR).  The Personal Genome Project has selected Google Health as our preferred PHR provider.</p>

<h3>(1) Create a Google Health account:</h3>

<p>To create a Google Health account, please visit <a href="<%= GOOGLE_HEALTH_URL %>" target="_blank">Google Health</a>. For detailed instructions on how to create a Google Health account, please see: "<a href="http://www.google.com/support/health/bin/answer.py?hl=en&answer=93491">Getting Started Guide</a>."</p>

<div class="tip"><strong>TIP:</strong> It is simplest if you keep this window open and create your Google Health account in a new browser window.</div>

<h3>(2) Populate your Google Health Profile</h3>

Complete as many sections of your Google Health profile as you wish to
include in your PGP public profile. Please be as specific and detailed as
possible. These sections are particularly relevant to the PGP:

<ol>
<li>Personal Information (age, sex, race/ethnicity, blood type)</li>
<li>Wellness</li>
<li>Problems</li>
<li>Medications</li>
<li>Allergies</li>
<li>Test results</li>
<li>Procedures</li>
<li>Immunizations</li>
</ol>

<%= form_tag(phrccr_path) %>

<h3>(3) Link your Google Health account to your PGP Public profile</h3>
<p>
After you have completed your Google Health profile, return to this page. Click on the "Link Profile" button and your Google Health data will be imported into your PGP public profile. Please review the accuracy of your imported data. Use Google Health to modify or add data. Changes will be automatically imported into your PGP public profile.
</p>

<% if !current_user.authsub_token.blank? %>
<p> <%= submit_tag 'Review PHR' %></p>
<% else %>
<p> <%= submit_tag 'Link Profile'  %></p>
<% end %>

</form>
