<h2>Configure an e-mail reminder</h2>

<%= link_to 'Back', google_survey_path(@gsr.google_survey_id) %>
<p/>

You can configure reminder e-mails to complete this survey. They will be sent
regularly. Choose the frequency below.

<%= render 'form' %>

