<h2>View bulk message</h2>

<table>
   <tr>
     <td colspan="2">
    <strong>Subject:</strong><br />
    <pre>
    <%= @bulk_message.subject %>
    </pre>
     </td>
   </tr>
   <tr>
     <td colspan="2">
    <strong>Body:</strong><br />
    <pre>
    <%= @bulk_message.body %>
    </pre>
     </td>
   </tr>
</table>

