<h2>Make Financial Pledge</h2>

<p>Make your financial pledge for participation.</p>

<% form_for :pledge do |f| %>
  <p>TODO: Add a box that specifies an eventual pledge amount.</p>
  <%= f.submit 'Pledge' %>
<% end %>

