<div class="exam_progress">
  <div class="progress_bar_wrapper">
    <div class="progress_bar" style="width: <%= progress.to_f / total.to_f * 100.0 %>%;"></div>
  </div>
</div>

<p>Question <%= progress %> out of <%= total %>:</p>
