<h2>Upload data</h2>

<p>
You can upload genetic and health data here. File size is limited to 30 MB. You
are encouraged to upload compressed files. Please make sure to select your data
type from the 'Data Type' dropdown box. If your dataset is larger than 30 MB,
please <%= link_to('contact us', new_message_path) %>.
</p>


<%= render 'form' %>

<%= link_to 'Back', genetic_data_index_path %>
