<h2>Identity Questionnaire</h2>

<p>Confirm your identity by entering your home address:</p>

<% form_for :identity_confirmation do |f| %>
  <p>TODO: Add home address boxes</p>
  <%= f.submit 'Submit' %>
<% end %>

