<h2>Review of PGP Consent Form</h2>

<p>
  You must review the PGP consent form before continuing.
  <a target="_blank" href="http://www.personalgenomes.org/consent/PGP_Consent_Approved_02212013.pdf">Download PDF now</a>.
</p>

<%= form_for :consent_review do |f| %>
  <div class="input">
    <%= f.check_box 'agreement' %>
    <%= f.label 'agreement', "I have reviewed the PGP consent form." %>
  </div>

  <%= f.submit %>
<% end %>

