
<table class="admin_table" width="910">
<tr>
<th>When</th>
<th>Who</th>
<th>What</th>
</tr>
<tr>
</tr>
<% @user_logs.each do |entry| -%>
  <tr>
    <td width="150"><%= entry.created_at %>
    </td>
    <td width="150">
    <% if not entry.user.nil? then %>
    <%= link_to entry.user.full_name, admin_user_url(entry.user) %>
    <% else %>
    UNKNOWN USER (<%= entry.user_id %>)
    <% end %>
    </td>
    <td><%= entry.comment %>
    </td>
  </tr>
<% end %>
</table>
