<h2>Trios Enrolled</h2>
<p>
There are currently <%= @trios.length %> trios enrolled.
<p/>
<table class="admin_table">
<tr>
  <th>User</th>
  <th>Parents</th>
  <th>Other enrolled family members</th>
</tr>
<% @trios.each do |t| 
    parents = t.family_relations.select {|r| r.relation == 'parent'}
    other_family_members = t.family_relations.select {|r| r.relation != 'parent'}
%>
<tr>
  <td><%= link_to t.hex, public_profile_path(:hex => t.hex) %></td>
  <td><% parents.each do |p| %><%= link_to p.relative.hex, public_profile_path(:hex => p.relative.hex) %>&nbsp; <% end %></td>
  <td><% other_family_members.each do |p| %><%= link_to p.relative.hex, public_profile_path(:hex => p.relative.hex) %>&nbsp; <% end %></td>
</tr>
<% end %>
</table>
