<h2>Submission Eligibility Screening</h2>

<p>
  You can now submit your eligibility screening to see if
  you are eligible to continue in the PGP enrollment process.
</p>

<% form_for :consent_review do |f| %>
  <%= f.submit 'Submit Eligibility Screening' %>
<% end %>


