<h2>Withdrawal complete</h2>

<p>You have been withdrawn from the study, and your account has been deactivated.</p>

<p>We would appreciate any feedback or comments you may provide on why you chose to withdraw from the PGP.  This will help us improve the research study, although it is optional and you do not need to provide any explanation.</p>

<%= render 'form' %>
