<h2>Comments recorded at time of withdrawal</h2>

<p>
  <b>Participant:</b>
  <%= @withdrawal_comment.user.full_name %>
</p>

<p>
  <b>Comment:</b>
  <br />
  <%=raw h(@withdrawal_comment.comment).gsub("\n","<br />") %>
</p>

<p>
  <b>Submitted at:</b>
  <%= @withdrawal_comment.created_at %>
</p>
